.about
	background: #ECF4FE
	padding-top: 120px
	color: #1F3651

.block__subtitle
	margin-bottom: 10px
	display: block
	text-transform: uppercase
	font-weight: 700
	font-size: 12px
	line-height: 12px
	color: #21B65C

.block__title
	display: block
	margin-bottom: 30px
	font-size: 30px
	line-height: 42px
	font-weight: 700

.block__title--center
	text-align: center

.block__title--white
	color: #fff

.block__title--dark
	color: #1F3651

.about__text
	margin-bottom: 65px
	max-width: 635px
	font-weight: 500
	line-height: 32px

.services
	margin-bottom: 120px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

.service
	margin-right: 125px

.service__img
	margin-bottom: 27px

.service__title
	margin-bottom: 20px
	font-size: 20px
	line-height: 28px
	font-weight: 700

.service__text
	font-size: 12px
	line-height: 28px
	color: #4773A9

.count__wrappers
	position: relative
	z-index: 10
	transform: translateY(50px)
	margin-left: auto
	width: calc(100vw - ((100vw - 1110px)) / 2);
	background: #21B65C

.count__items	
	padding: 68px 65px
	display: flex
	width: 1110px
	justify-content: space-between	
	

.count__item
	display: flex
	flex-direction: column
	align-items: center

.count__item-number
	margin-bottom: 10px
	font-size: 30px
	line-height: 30px
	font-weight: 700

.count__item-text
	font-size: 16px
	line-height: 24px
	font-weight: 500


.portfolio
	position: relative
	padding-top: 170px	
	background: url(../img/bg__porfolio.jpg) 50% 50% no-repeat
	background-size: cover
	&:after
		z-index: 1
		content: ""
		position: absolute
		top: 0
		left: 0
		display: block
		width: 100%
		height: 100%
		background: rgba(6, 61, 27, 0.7)
	.portfolio__pagination
		position: absolute
		display: flex
		align-items: center
		justify-content: center
		bottom: -40px
	.swiper-pagination-bullet
		width: 12px
		height: 12px
		border-radius: 50%
		background: inherit
		border: 1px solid #344043
	.swiper-pagination-bullet-active
		width: 14px
		height: 14px
		background: #CEBC19
	.swiper-slide-next
		&:after
			opacity: 0
		.portfolio__item-desc
			opacity: 1

.title__wrapper
	position: relative
	z-index: 10
	margin-bottom: 30px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	align-items: center

.portfolio__all
	position: relative
	padding: 20px 40px
	display: inline-block
	font-size: 16px
	line-height: 16px
	font-weight: 500
	color: #fff
	border: 1px solid #fff
	&:hover
		color: #fff
	&:after
		content: ""
		display: inline-block
		width: 0
		opacity: 0
		height: 7px
		position: relative
		right: -10px
		background: url("../img/right-arrow.svg") no-repeat
		transition: .5s all		
	&:hover:after
		height: 13px
		width: 18px
		opacity: 1
	
.portfolio__items
	position: relative
	z-index: 10
	margin-top: -115px
	width: 100%
	height: 100%
	transform: translateY(115px)
	
.portfolio__item
	position: relative
	height: 630px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column-reverse
	border-bottom: 10px solid #21B65C
	overflow: hidden
	&:after
		z-index: 1
		content: ""
		position: absolute
		top: 0
		left: 0
		display: block
		width: 100%
		height: 100%
		background: rgba(0, 0, 0, 0.5)
		opacity: 1
		transition: all .5s

.portfolio__item-desc
	z-index: 10
	position: relative
	padding: 30px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	align-items: center
	opacity: 0
	background: rgba(12, 66, 33, 0.7)
	transition: all .5s


.portfolio__item:hover 
	&:after
		opacity: 0
	.portfolio__item-desc
		opacity: 1

.portfolio__item-name
	margin: 0
	font-size: 18px
	line-height: 40px
	font-weight: 700
	
.portfolio__item-link
	display: flex
	align-items: center
	justify-content: center
	width: 40px
	height: 40px
	border-radius: 50%
	background: rgba(0, 0, 0, 0.15)

.portfolio__item-arrow
	display: inline-block
	width: 18px
	height: 13px
	background: url("../img/right-arrow.svg") 50% 50% no-repeat


.reviews
	margin-bottom: 112px
	padding-top: 300px
	.swiper-button-next, .swiper-button-prev
		display: none
		top: auto
		bottom: 60px
		width: 25px
		height: 18px
		background: url("../img/right-arrow.svg") 50% 50% no-repeat
	.swiper-button-next
		right: 60px
	.swiper-button-prev
		left: auto
		right: 100px
		transform: rotate(180deg)
	.swiper-slide-active .swiper-button-next, .swiper-slide-active .swiper-button-prev
		display: block

.review__slider
	position: relative
	margin-top: 70px

.review
	margin: 0 auto
	width: 930px

.review__block
	position: relative
	padding: 60px 285px 60px 80px
	width: 730px
	background: #21B65C

.review__text
	margin: 0
	line-height: 40px
	color: #094320
	
.review__author
	position: absolute
	top: 0
	right: -200px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: stretch

.review__author-wrapper
	padding: 0 60px 0 30px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	justify-content: center
	background: #48585c

.review__author-name
	margin-bottom: 5px
	display: inline-block
	font-size: 16px
	line-height: 40px
	font-weight: 700

.review__author-company
	font-size: 12px
	line-height: 32px
	color: #8BA6AD

//	margin-left: auto
//	width: calc(100vw - ((100vw - 1110px)) / 2)
.team
	display: flex
	transform: translateY(128px)
	.swiper-wrapper
		position: static
	.swiper-button-next, .swiper-button-prev
		width: 25px
		height: 18px
		background: url("../img/right-arrow.svg") 50% 50% no-repeat
		visibility: visible
	.swiper-button-next
		right: 205px
	.swiper-button-prev
		left: auto
		right: 255px
		transform: rotate(180deg)

.team__substrate
	width: 100%
	height: 212px 
	background: #21B65C
	
.team__desc
	position: relative
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: flex-end
	width: calc(100vw - ((100vw - 1110px)) / 2 - 835px)
	flex-shrink: 0

.team__wrapper
	width: 255px
	margin-right: 30px

.team__title
	margin-bottom: 30px
	font-size: 30px
	line-height: 42px
	font-weight: 700

.team__text
	line-height: 32px
	color: #637C83

.team__slider
	position: relative
	overflow: hidden

.team__slide
	height: 498px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column-reverse
	&:hover
		.team__item-desc
			min-height: 100%
		.team__item-social
			opacity: 1
			font-size: 22px

.team__item-desc
	padding: 30px 0
	min-height: 128px
	text-align: center
	display: flex
	flex-direction: column
	background: rgba(12, 66, 33, 0.7)
	transition: min-height .5s

.team__item-socials
	margin: auto 0
	font-size: 0

.team__item-social
	margin-right: 30px
	color: #fff
	opacity: 0
	transition: all .5s
	&:last-child
		margin-right: 0

.team__item-name
	font-size: 18px
	line-height: 42px
	font-weight: 700
	
.team__item-post
	font-size: 12px

.plan
	padding: 248px 0 120px
	background: #ECF4FE

.packages
	margin-top: 60px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between

.package
	padding: 40px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	width: 255px
	background: #fff

.packages__desc
	width: 255px
	padding-top: 40px

.package__title
	margin-bottom: 20px
	font-size: 20px
	line-height: 28px
	font-weight: 700
	color: #1F3651

.package__price
	margin-bottom: 15px
	font-size: 54px
	line-height: 54px
	color: #21B65C
	font-weight: 700

.package__price--small
	font-size: 14px

.package__price--gray
	color: #8B9CB2
	font-weight: 400

.package__services
	list-style-type: none
	color: #88A1C0
	line-height: 42px

.package__buy
	margin-top: auto
	padding: 20px 0
	display: flex
	align-items: center
	justify-content: center
	border: 1px solid #21B65C
	color: #21B65C
	font-weight: 700
	&:hover
		background: #21B65C
		color: #fff

.packages__title
	margin-bottom: 20px
	font-size: 20px
	line-height: 28px
	font-weight: 700
	color: #1F3651

.packages__text
	line-height: 32px
	color: #4773A9

.latest-news
	margin-bottom: 145px
	padding-top: 120px


.news
	display: flex
	justify-content: space-between
	
	
.news__item
	position: relative
	width: 350px
	background: #48585C

.news__wrapper
	padding: 30px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	justify-content: space-between
	min-height: 156px

.news__title
	font-size: 16px
	line-height: 32px
	font-weight: 700

.news__info
	margin: 0
	font-size: 12px
	line-height: 24px
	font-weight: 700
	color: #21B65C

.news__info-date
	color: #88A1C0
	
.news__more
	position: absolute
	right: -10px
	bottom: -25px
	padding: 20px 40px
	display: inline-block
	background: #21B65C
	font-size: 10px
	line-height: 10px
	color: #fff
	text-transform: uppercase

.contact
	z-index: 10
	position: relative
	margin-bottom: -325px
	margin-right: auto
	width: calc(100vw - ((100vw - 1110px)) / 2);
	background: #ECF4FE

.contact__wrapper
	margin-right: 0

.contact__info
	padding-top: 80px

.contact__title
	margin-bottom: 60px
	font-size: 30px
	line-height: 42px
	font-weight: 700
	color: #1F3651

.contact__titles
	margin-bottom: 10px
	display: block
	line-height: 28px
	font-weight: 700
	color: #355882
	text-transform: uppercase

.contact__text
	margin-bottom: 40px
	line-height: 32px
	color: #4773A9

.contact__socials
	margin-top: 16px

.contact__social
	margin-right: 20px
	font-size: 14px
	color: #4773A9
	
.contact__form
	padding: 80px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	align-items: flex-start
	background: #DFEAF9

.contact__form-name
	margin-bottom: 15px
	font-size: 14px
	line-height: 14px
	color: #7088A5
	
.contact__form-field
	margin-bottom: 30px
	padding: 0 20px
	width: 100%
	height: 50px
	border: none
	background: #CEDEF1
	color: #A1B8D5

.contact__form-field::placeholder
	color: #A1B8D5
		

.contact__form-text
	padding: 18px 20px
	height: 160px
	resize: none

.contact__form-submit
	margin: 0 auto
	padding: 16px 40px
	background: #21B65C
	border-radius: 27px
	border: none
	color: #fff
	font-weight: 700
