.about
	background: #ECF4FE
	padding-top: 120px
	color: #1F3651

.block__subtitle
	margin-bottom: 10px
	display: block
	text-transform: uppercase
	font-weight: 700
	font-size: 12px
	line-height: 12px
	color: #21B65C

.block__title
	display: block
	margin-bottom: 30px
	font-size: 30px
	line-height: 42px
	font-weight: 700

.block--center
	text-align: center

.block__title--white
	color: #fff

.block__title--dark
	color: #1F3651

.about__text
	margin-bottom: 65px
	max-width: 635px
	font-weight: 500
	line-height: 32px

.services
	margin-bottom: 120px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

.service
	margin-right: 125px

.service__img
	margin-bottom: 27px

.service__title
	margin-bottom: 20px
	font-size: 20px
	line-height: 28px
	font-weight: 700

.service__text
	font-size: 12px
	line-height: 28px
	color: #4773A9

.count__wrappers
	position: relative
	z-index: 10
	transform: translateY(50px)
	margin-left: auto
	width: calc(100vw - ((100vw - 1110px)) / 2);
	background: #21B65C

.count__items	
	padding: 68px 65px
	display: flex
	max-width: 1110px
	justify-content: space-between	
	flex-wrap: wrap

.count__item
	display: flex
	flex-direction: column
	align-items: center

.count__item-number
	margin-bottom: 10px
	font-size: 30px
	line-height: 30px
	font-weight: 700

.count__item-text
	font-size: 16px
	line-height: 24px
	font-weight: 500


.portfolio
	position: relative
	padding-top: 170px	
	background: url(../img/bg__porfolio.jpg) 50% 50% no-repeat
	background-size: cover
	&:after
		z-index: 1
		content: ""
		position: absolute
		top: 0
		left: 0
		display: block
		width: 100%
		height: 100%
		background: rgba(6, 61, 27, 0.7)
	.slick-dots
		bottom: -40px
	.slick-dots li button:before
		display: none
	.slick-dots li button
		width: 12px
		height: 12px
		border-radius: 50%
		background: inherit
		border: 1px solid #596365
	.slick-dots li.slick-active button
		width: 14px
		height: 14px
		background: #CEBC19
		
	
.title__wrapper
	position: relative
	z-index: 10
	margin-bottom: 30px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	align-items: center

.portfolio__all
	position: relative
	padding: 20px 40px
	display: inline-block
	font-size: 16px
	line-height: 16px
	font-weight: 500
	color: #fff
	border: 1px solid #fff
	&:hover
		color: #fff
	&:after
		content: ""
		display: inline-block
		width: 0
		opacity: 0
		height: 7px
		position: relative
		right: -10px
		background: url("../img/right-arrow.svg") no-repeat
		transition: .5s all		
	&:hover:after
		height: 13px
		width: 18px
		opacity: 1
	
.portfolio__wrapper
	margin: -155px 0 0
	padding: 0	
	width: 100%
	transform: translateY(155px)
	position: relative
	z-index: 10	
	overflow: hidden
	.slick-slider
		margin-bottom: 45px

.portfolio__items
	height: 100%
	margin: 0 -15px
	.slick-track
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
	.slick-slide
		margin: 0 15px
//	.slick-active:nth-child(2n+3)
//		margin: 0 30px
	
.portfolio__item
	position: relative
	height: 630px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column-reverse
	border-bottom: 10px solid #21B65C
	overflow: hidden
	transition: all .5s
	&:after
		z-index: 1
		content: ""
		position: absolute
		top: 0
		left: 0
		display: block
		width: 100%
		height: 100%
		background: rgba(0, 0, 0, 0.5)
		opacity: 1
		transition: all .5s

.portfolio__picture
	position: absolute
	height: 100%
	object-fit: cover
	filter: brightness(40%)
	filter: grayscale(80%)

.portfolio__item-desc
	z-index: 10
	position: relative
	padding: 30px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	align-items: center
	opacity: 0
	background: rgba(12, 66, 33, 0.7)
	transition: all .5s


.portfolio__item:hover 
	&:after
		opacity: 0
	.portfolio__item-desc
		opacity: 1
	.portfolio__picture
		filter: brightness(100%)
		filter: grayscale(0%)

.portfolio__item-name
	margin: 0
	font-size: 18px
	line-height: 40px
	font-weight: 700
	
.portfolio__item-link
	display: flex
	align-items: center
	justify-content: center
	width: 40px
	height: 40px
	border-radius: 50%
	background: rgba(0, 0, 0, 0.15)

.portfolio__item-arrow
	display: inline-block
	width: 18px
	height: 13px
	background: url("../img/right-arrow.svg") 50% 50% no-repeat


.reviews
	margin-bottom: 112px
	padding-top: 300px
	.slick-arrow
		top: 75%
		left: 55%
	.slick-next
		left: 59%
	
.review__slider
	position: relative
	margin-top: 70px

.review
	margin: 0 auto
	width: 930px

.review__block
	position: relative
	padding: 60px 285px 60px 80px
	width: 730px
	background: #21B65C

.review__text
	margin: 0
	line-height: 40px
	color: #094320
	
.review__author
	position: absolute
	top: 0
	right: -200px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: stretch

.review__author-wrapper
	padding: 0 60px 0 30px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	justify-content: center
	background: #48585c

.review__author-name
	margin-bottom: 5px
	display: inline-block
	font-size: 16px
	line-height: 40px
	font-weight: 700

.review__author-company
	font-size: 12px
	line-height: 32px
	color: #8BA6AD

//	margin-left: auto
//	width: calc(100vw - ((100vw - 1110px)) / 2)
.team
	overflow: hidden
	display: flex
	transform: translateY(128px)

.team__substrate
	width: 100%
	height: 212px 
	background: #21B65C
	
.team__desc
	position: relative
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: flex-end
	width: calc(100vw - ((100vw - 1110px)) / 2 - 825px)
	flex-shrink: 0

.team__wrapper
	width: 255px
	margin-right: 30px

.team__title
	margin-bottom: 30px
	font-size: 30px
	line-height: 42px
	font-weight: 700

.team__text
	line-height: 32px
	color: #637C83

.team__slider-wrapper
	margin: 0 -15px
	position: relative
	width: calc(100vw - ((100vw - 1110px)) / 2 - 270px)
		
.slick-arrow
	z-index: 10
.slick-arrow:before
	content: ""
	display: block
	width: 25px
	height: 18px
	background: url("../img/right-arrow.svg") 50% 50% no-repeat
.slick-prev:before
	transform: rotate(180deg)

.team__slider
	.slick-arrow
		left: -270px
	.slick-next
		left: -230px
	.slick-slide
		margin: 0 15px

.team__slide
	height: 498px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column-reverse
	&:hover
		.team__item-desc
			min-height: 100%
		.team__item-social
			opacity: 1
			font-size: 22px

.team__item-desc
	padding: 30px 0
	min-height: 128px
	text-align: center
	display: flex
	flex-direction: column
	background: rgba(12, 66, 33, 0.7)
	transition: min-height .5s

.team__item-socials
	margin: auto 0
	font-size: 0

.team__item-social
	margin-right: 30px
	color: #fff
	opacity: 0
	transition: all .5s
	&:last-child
		margin-right: 0

.team__item-name
	font-size: 18px
	line-height: 42px
	font-weight: 700
	
.team__item-post
	font-size: 12px

.team__background
	display: none

.plan
	padding: 248px 0 120px
	background: #ECF4FE

.plan__wrapper
	margin-top: 60px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	
	

.packages
	position: relative
	margin-right: 30px
	width: 825px
	.slick-track
		display: flex
	.slick-active:nth-child(2)
		margin: 0 30px
	.swiper-button-next, .swiper-button-prev
		display: none
.package
	padding: 40px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	background: #fff
	height: 100%

.packages__desc
	flex-shrink: 0
	width: 255px
	padding-top: 40px

.package__title
	margin-bottom: 20px
	font-size: 20px
	line-height: 28px
	font-weight: 700
	color: #1F3651

.package__price
	margin-bottom: 15px
	font-size: 54px
	line-height: 54px
	color: #21B65C
	font-weight: 700

.package__price--small
	font-size: 14px

.package__price--gray
	color: #8B9CB2
	font-weight: 400

.package__services
	list-style-type: none
	color: #88A1C0
	line-height: 42px

.package__buy
	margin-top: auto
	padding: 20px 0
	display: flex
	align-items: center
	justify-content: center
	border: 1px solid #21B65C
	color: #21B65C
	font-weight: 700
	&:hover
		background: #21B65C
		color: #fff

.package__buy--active
	background: #21B65C
	color: #fff

.packages__title
	margin-bottom: 20px
	font-size: 20px
	line-height: 28px
	font-weight: 700
	color: #1F3651

.packages__text
	line-height: 32px
	color: #4773A9

.latest-news
	margin-bottom: 145px
	padding-top: 120px


.news
	display: flex
	justify-content: space-between
	
	
.news__item
	position: relative
	width: 350px
	background: #48585C

.news__wrapper
	padding: 30px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	justify-content: space-between
	min-height: 156px

.news__title
	font-size: 16px
	line-height: 32px
	font-weight: 700

.news__info
	margin: 0
	font-size: 12px
	line-height: 24px
	font-weight: 700
	color: #21B65C

.news__info-date
	color: #88A1C0
	
.news__more
	position: absolute
	right: -10px
	bottom: -25px
	padding: 20px 40px
	display: inline-block
	background: #21B65C
	font-size: 10px
	line-height: 10px
	font-weight: 700
	color: #fff
	text-transform: uppercase

.contact
	z-index: 10
	position: relative
	margin-bottom: -325px
	margin-right: auto
	width: calc(100vw - ((100vw - 1110px)) / 2);
	background: #ECF4FE

.contact__wrapper
	margin-right: 0

.contact__info
	padding-top: 80px

.contact__title
	margin-bottom: 60px
	font-size: 30px
	line-height: 42px
	font-weight: 700
	color: #1F3651

.contact__titles
	margin-bottom: 10px
	display: block
	line-height: 28px
	font-weight: 700
	color: #355882
	text-transform: uppercase

.contact__block
	margin-bottom: 40px

.contact__text
	margin: 0
	line-height: 32px
	font-weight: 500
	color: #4773A9

.contact__socials
	margin-top: 16px

.contact__social
	margin-right: 20px
	font-size: 14px
	color: #4773A9
	
.contact__form
	padding: 80px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	align-items: flex-start
	background: #DFEAF9

.contact__form-name
	width: 410px
	font-size: 14px
	line-height: 14px
	color: #7088A5
	
.contact__form-field
	margin: 15px 0 30px
	padding: 0 20px
	width: 100%
	height: 50px
	border: none
	background: #CEDEF1
	color: #A1B8D5
	border: 1px solid #C6D4E8

.contact__form-field::placeholder
	color: #A1B8D5
		

.contact__form-text
	padding: 18px 20px
	height: 160px
	resize: none

.contact__form-submit
	margin: 0 auto
	padding: 16px 40px
	background: #21B65C
	border-radius: 27px
	border: none
	color: #fff
	font-weight: 700

.contact--i
	margin: 0
	width: 100%
	display: flex
	justify-content: center
	color: #1f3651

.contact__info--i
	padding: 0
	width: calc(100vw - ((100vw - 1110px)) / 2 - 475px)
	
.contact__form--i
	padding: 0
	width: calc(100vw - ((100vw - 1110px)) / 2 - 635px)
	
.contact__info-wrapper
	margin-left: auto
	padding: 120px 95px 0 0
	max-width: 635px

.contact__form-wrapper
	margin-right: auto
	padding: 120px 0 120px 65px
	max-width: 475px

.block__text
	margin-bottom: 80px
	color: #355882
	line-height: 32px
	font-weight: 500

.contact__form-submit--cntr
	margin: 0 auto
	display: block

.about__text--i
	text-align: center
	margin: 0 auto 60px

.services--i
	margin-bottom: 0

.service--i
	margin-bottom: 120px
	margin-right: 30px
	padding: 30px 65px 30px 30px
	background: #fff
	&:last-child
		margin-right: 0

.work-process
	display: flex

.work-process__img
	width: 50%
	background: url("../img/work-process.jpg") 50% 50% no-repeat / cover

.work-process__wrapper
	width: 50%
	background: #21B65C

.work-process__desc
	padding: 80px 0 80px 45px
	width: 555px

.work-process__title
	margin-bottom: 30px
	font-size: 30px
	font-weight: 700

.work-process__text
	line-height: 32px

.work-process__item
	margin-bottom: 30px
	padding: 15px 30px
	display: flex
	border: 1px solid #34C96F
	&:last-child
		margin-bottom: 0

.work-process__number
	margin-right: 40px
	font-size: 30px
	line-height: 56px
	font-weight: 700

.work-process__item-text
	margin-bottom: 0
	font-size: 12px
	line-height: 28px

.plan--i
	padding: 120px 0

.contact__form--big
	padding: 120px 0
	width: 100%
	align-items: center
	color: #1F3651

.contact__form-wrapper--i
	margin: 30px auto 0
	padding: 0
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	max-width: 850px

.contact__form-name--big
	width: 100%

.team--i
	padding: 120px 0 160px
	background: #ECF4FE

.team__grid
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	flex-wrap: wrap

.team__slide--i
	margin-bottom: 30px
	margin-right: 30px
	width: 350px
	&:nth-child(3n)
		margin-right: 0
	
.count__wrappers--i
	width: 100%
	transform: translateY(0)

.count__items--i
	margin: 0 auto
	padding: 120px 65px

.portfolio-i
	padding: 120px 0
	background: #ECF4FE

.portfolio-i__btns
	margin-bottom: 60px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center

.portfolio-i__btn
	padding: 20px 30px
	display: inline-block
	border-bottom: 1px solid #C7D9EE
	border-top: 1px solid #C7D9EE
	color: #4773A9
	line-height: 32px
	&:first-child
		border-left: 1px solid #C7D9EE
	&:last-child
		border-right: 1px solid #C7D9EE
		
.portfolio-i__btn--active
	border: 1px solid #21B65C
	color: #21B65C
	font-weight: 700

.portfolio-i__works
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	flex-wrap: wrap

.portfolio__item--i
	margin-bottom: 30px
	width: 540px
	

.portfolio__item--i:first-child
	&:after
		opacity: 0
	.portfolio__item-desc
		opacity: 1
	.portfolio__picture
		filter: brightness(100%)
		filter: grayscale(0%)

.brands
	padding: 120px 15px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	
.statistic
	padding: 120px 0
	background: #ECF4FE
	color: #1F3651

.statistic__graphic-name
	display: inline-block
	margin-bottom: 20px
	color: #355882
	font-weight: 700

.statistic__graphic-percent
	position: relative
	margin-bottom: 40px
	width: 100%
	height: 5px
	background: #E4ECF7
	&:before
		content: ""
		display: block
		position: absolute
		left: 0
		top: 0
		height: 5px
		background: #21B65C
	&:after
		position: absolute
		top: -41px
		display: block
		color: #355882

.statistic__graphic-percent--development
	&:before
		width: 92%
	&:after
		content: "92%"
		left: calc(92% - 30px)
	
.statistic__graphic-percent--ux
	&:before
		width: 80%
	&:after
		content: "80%"
		left: calc(80% - 30px)
	
.statistic__graphic-percent--marketing
	&:before
		width: 75%
	&:after
		content: "75%"
		left: calc(75% - 30px)
	
.statistic__graphic-percent--seo
	&:before
		width: 69%
	&:after
		content: "69%"
		left: calc(69% - 30px)
	
.statistic__items
	margin-top: 80px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-around

.statistic__item
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	align-items: center

.statistic__value
	margin: 40px 0 20px
	font-size: 42px
	font-weight: 700
	line-height: 42px
	color: #1F3651

.statistic__name
	font-size: 16px
	font-weight: 500
	color: #4773A9
	
.blog__wrappper
	padding: 120px 0
	background: #ECF4FE

.post-item
	position: relative
	margin-bottom: 30px
	border: 1px solid #E4ECF7

.post-item__wrapper
	padding: 30px 30px 60px
	background: #fff
	color: #1F3651


.post-item .fas, .post-item .far
	margin-right: 10px

.post-item__author, .post-item__calendar, .post-item__comments
	margin-left: 30px

.post-item__category
	color: #21B65C
	font-size: 12px
	line-height: 12px
	font-weight: 700

.post-item__title
	margin-bottom: 30px
	font-size: 24px
	line-height: 24px
	font-weight: 700

.post-item__text, .post p, .post li
	font-size: 14px
	line-height: 32px
	color: #4773A9

.post-item__info, .post .post-item__info
	margin-bottom: 30px
	color: #8BA6AD

.post-item__read-more
	position: absolute
	bottom: 0
	right: 0
	padding: 20px 40px
	display: inline-block
	background: #21B65C
	text-transform: uppercase
	font-size: 10px
	line-height: 10px
	font-weight: 700
	color: #fff

.post__pages
	margin-top: 60px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center

.post__page
	display: flex
	justify-content: center
	align-items: center
	width: 72px
	height: 72px
	border-bottom: 1px solid #C7D9EE
	border-top: 1px solid #C7D9EE
	color: #4773A9
	&:first-child
		border-left: 1px solid #C7D9EE
	&:last-child
		border-right: 1px solid #C7D9EE

.post__pages .fas
	color: #21B65C
	
.post__page--active
	border: 1px solid #21B65C
	color: #21B65C
	font-weight: 700

.sidebar-block
	margin-bottom: 30px
	padding: 30px
	background: #fff
	border: 1px solid #E4ECF7
	color: #1F3651

.sidebar__title
	margin-bottom: 20px
	font-size: 18px
	line-height: 25px
	font-weight: 700

.sidebar__search
	margin-bottom: 10px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

.sidebar__search-field
	padding: 15px 20px
	width: 100%
	border: 1px solid #E7EFF6
	border-right: none
	background: #FAFBFC
	font-size: 14px
	line-height: 14px
	color: #A1B8D5

.sidebar__btn
	flex-shrink: 0
	width: 50px
	height: 50px
	border: none
	background: #21B65C
	color: #fff

.sidebar__categories
	margin-bottom: 0
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	list-style-type: none

.sidebar__category
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	align-items: center
	border-bottom: 1px solid #E4ECF7
	&:last-child
		border-bottom: none

.sidebar__category-item
	margin: 10px 0
	color: #4773A9
	line-height: 32px

.sidebar__number
	color: #A1B8D5

.sidebar-post__title 
	margin-bottom: 10px
	font-size: 14px
	line-height: 32px
	font-weight: 700
	color: #355882

.sidebar-post
	padding: 20px 0
	border-bottom: 1px solid #E4ECF7
	&:first-child
		padding-top: 0
	&:last-child
		border-bottom: none
	.fas
		margin-right: 10px

.sidebar-item__calendar
	font-size: 12px
	line-height: 12px
	color: #8BA6AD

.sidebar__tag 
	margin: 0 10px 10px 0
	padding: 5px 20px
	display: inline-block
	border: 1px solid #E4ECF7
	color: #4773A9

.post blockquote
	padding: 30px
	border-left: 2px solid #21B65C
	background: #DFEAF9
	font-style: italic
	font-size: 14px
	line-height: 32px
	color: #4773A9

.post ul
	margin-left: 16px
	list-style-type: none

.post ul li
	position: relative

.post ul li:before
	content: ""
	position: absolute
	top: 50%
	left: -16px
	margin-top: -3px
	margin-right: 10px
	display: inline-block
	width: 6px
	height: 6px
	background: #CEDEF1
	border-radius: 50%
	

.post ol
	list-style-type: none
	counter-reset: num

.post ol li:before
	content: counter(num)
	counter-increment: num
	margin-right: 10px
	color: #CEDEF1
	font-weight: 700
	
.post .post-item__wrapper
	padding-bottom: 30px

.post-info
	margin-top: 20px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	color: #4773A9

.post-info__link
	margin-left: 20px
	color: #4773A9

.post-info__social
	color: #87AAD5
	
.comments
	margin-top: 60px
	margin-bottom: 30px
	padding: 30px
	border: 1px solid #E4ECF7
	background: #fff

.comment__count
	margin-bottom: 20px
	font-size: 18px
	line-height: 25px
	font-weight: 700
	color: #1F3651

.comment
	margin-top: 30px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

.comment__wrapper
	border-bottom: 1px solid #E4ECF7

.comment__picture
	margin-right: 20px
	width: 80px
	height: 80px
	border-radius: 50%

.comment__text
	font-size: 14px
	line-height: 32px
	color: #4773A9

.comment__info
	margin-bottom: 10px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	justify-content: space-between

.comment__author
	margin-right: 20px
	font-size: 14px
	line-height: 32px
	font-weight: 700
	color: #355882

.comment__calendar
	color: #8BA6AD
	font-size: 12px
	.fas
		margin-right: 10px

.comment__reply
	margin-left: auto
	text-transform: uppercase
	font-size: 12px
	font-weight: 700
	color: #4773A9


.post__comment .post__comment
	margin-left: 100px

.comments > .post__comment:last-child .comment__wrapper
	border-bottom: none

.leave-comment
	padding: 30px
	background: #fff
	border: 1px solid #E4ECF7

.leave-comment__field
	margin-bottom: 20px
	padding: 15px 40px 15px 20px
	width: 100%
	background: #FAFBFC
	border: 1px solid #E7EFF6
	color: #536D8D
	font-size: 14px
	line-height: 14px

.leave-comment__wrapper
	position: relative
	margin: 0
	width: 100%
	.fas, .far
		position: absolute
		right: 20px	
		top: 50%
		margin-top: -17px
		color: #C5D2E3

.leave-comment__wrapper--text .fas
	top: 18px
	margin-top: 0

.leave-comment__field::-webkit-input-placeholder
	color: #A1B8D5
.leave-comment__field::-moz-placeholder
	color: #A1B8D5
.leave-comment__field::-ms-input-placeholder
	color: #A1B8D5
.leave-comment__field::placeholder
	color: #A1B8D5
	
.leave-comment__text
	height: 144px
	resize: none

.leave-comment__field:focus
	outline: none
	border-bottom: 2px solid #21B65C
	margin-bottom: 19px
.leave-comment__field:focus	+ .fas
	color: #21B65C

.leave-comment__btn
	padding: 18px 40px
	background: #21B65C
	border: none
	font-size: 14px
	line-height: 14px
	font-weight: 700
	color: #fff

.posts-grid
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	flex-wrap: wrap

.post-grid
	position: relative
	margin-bottom: 55px
	max-width: 350px

.post-grid__wrapper
	padding: 30px

.post-grid__title
	margin-bottom: 20px
	font-size: 16px
	line-height: 32px

.post-grid__info
	margin: 0
	
.post-grid__calendar
	margin: 0
	font-size: 12px

.post-grid__read-more
	right: -15px
	bottom: -25px

.post-grid__pages
	margin-top: 30px