.header
	.header__wrapper
		h1.header__title МОРСКИЕ ПУТЕШЕСТВИЯ ПОД ПАРУСАМИ
		p.header__text Отдых миллионеров по цене обычной путевки, с посещением "нетуристических" островов, бухт и городов. Для тех, кому надоел пляжный отдых.
		a(href="#").header__detailed.header__detailed--more ПОДРОБНЕЕ
		a(href="#").header__detailed.header__detailed--router МАРШРУТ ТУРА
	.header__form
		.header__form-close
		h3.header__form-title Получите подробное описание путешествия
		input(type="text" placeholder="Ваше имя").brochure__field
		input(type="email" placeholder="Ваше email").brochure__field
		input(type="tel" placeholder="Ваш телефон").brochure__field
		button(type="submit").brochure__submit ОТПРАВИТЬ
.journey
	.journey__left
		h2.journey__title Окунитесь в уникальное путешествие
		.journey__wave
		p.journey__text Добро пожаловать на борт. Вместе с Вами мы исследуем побережье Средиземного моря, искупаемся в открытой воде и пройдёмся по закоулкам городов на пути. Если вы ещё сомневайтесь, листайте вниз, мы всё расскажем.
	.journey__right
		.journey__photo--bottom
			img(src="img/journey-photo-2.jpg")
		.journey__photo--top
			img(src="img/journey-photo-1.jpg")
		span.journey__photo-desc - ФОТО СДЕЛАНЫ В ХОРВАТИИ -
.video
	.video__block
		.video__btn
			.video__btn-circle
		h2.video__title Смотрите видео о том, как проходит тур
	.video__modal
		.video__modal-close
		iframe.video__youtube(id="ytplayer" type="text/html" width="640" height="350" src="https://www.youtube.com/embed/WrhJz83WWPc?autoplay=0&controls=0&showinfo=0&iv_load_policy=3&modestbranding=1&rel=0&enablejsapi=1&start=13"
  frameborder="0")
.travel
	.travel__items
		h2.travel__title Что будет в путешествии?
		.journey__wave
		p.travel__text Всегда мечтали бороздить морские просторы? Просыпаться под шум моря утром и рыбачить? Или может вы любите открывать для себя новые удивительные места, куда обычный турист не сможет добраться? Всё это будет в нашем путешествии.
	.travel__items
		.travel__item
			img.travel__item-img(src="img/icon-travel--ship.png")
			.travel__item-desc
				h3.travel__item-title Побороздим морские просторы
				p.travel__item-text Пройдём на нашей яхте много миль Средиземного моря
		.travel__item
			img.travel__item-img(src="img/icon-travel--mask.png")
			.travel__item-desc
				h3.travel__item-title Поплаваем в открытом море
				p.travel__item-text А ещё с яхты можно понырять и поисследовать глубины моря
		.travel__item
			img.travel__item-img(src="img/icon-travel--fish.png")
			.travel__item-desc
				h3.travel__item-title Порыбачим
				p.travel__item-text А позже пойманную рыбу можно приготовить на барбекю
	.travel__items
		.travel__item
			img.travel__item-img(src="img/icon-travel--map.png")
			.travel__item-desc
				h3.travel__item-title Исследуем улочки городов
				p.travel__item-text На остановках можно будет погулять по окрестностям
		.travel__item
			img.travel__item-img(src="img/icon-travel--dolphin.png")
			.travel__item-desc
				h3.travel__item-title Полюбуемся дельфинами
				p.travel__item-text Смотреть на дельфинов в близи куда приятнее, чем с берега
		.travel__item
			img.travel__item-img(src="img/icon-travel--heart.png")
			.travel__item-desc
				h3.travel__item-title И возможно, найдём любовь
				p.travel__item-text Это будет Ваше одно из самых романтичных знакомств	
.yacht
	.yacht__sliders
		.yacht__slider(style="background: url('img/yacht-slider-2.jpg') 50% 50% no-repeat; background-size: cover")
		.yacht__slider(style="background: url('img/yacht-slider-3.jpg') 50% 50% no-repeat; background-size: cover")
		.yacht__slider(style="background: url('img/yacht-slider-4.jpg') 50% 50% no-repeat; background-size: cover")
		.yacht__slider(style="background: url('img/yacht-slider-5.jpg') 50% 50% no-repeat; background-size: cover")
		.yacht__slider(style="background: url('img/yacht-slider-6.jpg') 50% 50% no-repeat; background-size: cover")
		.yacht__slider(style="background: url('img/yacht-slider-7.jpg') 50% 50% no-repeat; background-size: cover")
	.yacht__right
		h2.yacht__title Что из себя представляют современные яхты?
		.journey__wave
		p.yacht__text Это настоящий дом посреди моря с площадкой для купания, в двух шагах от спальной каюты.
		p.yacht__text. 
			Внутри есть:
			#[br]	- 4 отдельные каюты;
			#[br]	- гостиная (кают-компания);
			#[br]	- кухня со всем необходимым;
			#[br]	- 3 санузла с душевыми;
			#[br]	- розетки и электрооборудование.
.questions
	h2.questions__title Развеим все ваши переживания
	.journey__wave
	.questions__problems
		.questions__problem Это безопасно? Можем ли мы попасть в шторм?
		.questions__solution 
			p Круизный яхтинг (именно такой предлагаем мы) — по статистике, гораздо безопаснее автомобиля. Есть простые базовые правила, следуя которым можно быть уверенным в собственной безопасности.
			p Вероятность попасть в шторм стремиться к нулю, так как мы изначально выбираем не штормовые районы и регулярно сверяемся с прогнозом погоды. Если даже это произойдет, то поблизости всегда есть защищенные марины и бухты, куда можно спрятаться.
		.questions__problem А что с морской болезнью?
		.questions__solution.questions__solution--none
			p  Морская болезнь и простое укачивание это 2 разные вещи. Морская болезнь присуща 3-4% (в сознательном возрасте человек о ней знает), а укачивание или отсутствует, или исчезает на 1-2 день. Есть рекомендации, которые помогут адаптироваться очень легко.
		.questions__problem Я не умею плавать
		.questions__solution.questions__solution--none
			p Вот это точно не повод отказываться от поездки. Нырять в воду человек будет исключительно по собственному желанию или же по нашему, если решит научиться.
.country
	h2.country__title Следующая остановка
	.counry__spain
		img(src="img/icon-spain.png")
		h2.country__title.country__spain-title Испания
	h2.country__title.country__date 20-27 Октября
.country__applications.applications
	.applications__left
		p.applications__text До повышения цены осталось:
		.applications__count
			span.applications__count-days
			span.applications__count-hours
			span.applications__count-delimiter :
			span.applications__count-minutes
			span.applications__count-delimiter :
			span.applications__count-seconds
		h3.applications__price Цена сегодня: #[span.applications__price--actual 999&#8364;]
		p.applications__price--next С 7 октября: 1259€
		p.applications__price--next С 15 октября: 1599€
		p.applications__text.
			В стоимость не входят:
			#[br] - перелёт до места отправления и обратно
			#[br] - шенгенская виза
			#[br] - ужины в ресторанах и кафе
			#[br] - личные расходы
		p.applications__text Для подробной информации оставьте заявку в форме.
	.applications__right
		h3.applications__right-title Бронируйте по самой первой цене
		form.applications__form
			input(type="text" placeholder="Ваше имя").brochure__field
			input(type="email" placeholder="Ваше email").brochure__field
			input(type="tel" placeholder="Ваш телефон").brochure__field
			button(type="submit").brochure__submit ОТПРАВИТЬ
.impressions
	h2.impressions__title Что вы получите?
	.impressions__sliders
		.impressions__slider
			.impressions__wrapper
				.impressions__slider-left 
					h3.impressions__slider--title Побываете настоящим морским волком и постоите за штурвалом
				.impressions__slider-right #[img.impressions__photo(src="img/impressions-photo-1.jpg")]
		.impressions__slider
			.impressions__wrapper
				.impressions__slider-left 
					h3.impressions__slider--title Вы научитесь вязать морские узлы и швартоваться к причалу
				.impressions__slider-right #[img.impressions__photo(src="img/impressions-photo-2.jpg")]
		.impressions__slider
			.impressions__wrapper
				.impressions__slider-left 
					h3.impressions__slider--title Искупаетесь в самых чистых бухтах без туристов
				.impressions__slider-right #[img.impressions__photo(src="img/impressions-photo-3.jpg")]
		.impressions__slider
			.impressions__wrapper
				.impressions__slider-left 
					h3.impressions__slider--title И встретите самые красивые закаты в вашей жизни
				.impressions__slider-right #[img.impressions__photo(src="img/impressions-photo-4.jpg")]
.team
	.team__block--alex
	.team__block
		h2.team__title С вами будет Ваш капитан- Алексей Александрович
		.journey__wave
		p.team__text Я буду возглавлять наше путешествие. Вместе мы пройдём с вами самые красивые места Средиземноморья. Если у Вас есть какие-либо вопросы, вы можете написать мне в соц сети и убедиться, что я “настоящий”.
		.team__socials
			a(href="#").team__social.team__social--vk Вконтакте
			a(href="#").team__social.team__social--ig Инстаграм
	.team__block.team__block--left
		.team__wrapper
			h2.team__title Опытный штурман Михаил Столяров
			.journey__wave
			p.team__text Побывал во множестве экспедиций, знает все тонкости яхтинга на Средиземном море. 20 лет опыта хождения под парусами. Что бы не случилось, знает как выйти из любой ситуации. Расскажет и научит всем тонкостям своей деятельности.
			.team__socials
				a(href="#").team__social.team__social--vk Вконтакте
				a(href="#").team__social.team__social--ig Инстаграм
	.team__block--michael
	.team__block--olga
	.team__block
		h2.team__title Утром Вас ждут тренинги от Ольги Дереглазовой
		.journey__wave
		p.team__text По утрам вас ждут курсы по саморазвитию и личностному росту от профессионала в этой области. Попробуем новые методики, помедитируем и услышим свой внутренний голос. Моя группа в контакте и в инстаграме по ссылкам ниже.
		.team__socials
			a(href="#").team__social.team__social--vk Вконтакте
			a(href="#").team__social.team__social--ig Инстаграм
.brochure
	h2.brochure__title-adventure Вы готовы к приключениям?
	.brochure__wrapper
		.brochure__left
			h2.brochure__title Получите подробное описание вашего путешествия
			.journey__wave
			p.brochure__text Оставьте свои контактные данные и мы отправим Вам на почту PDF файл с подробным описанием будущего тура. Ждём Вас в наших рядах!
		.brochure__right
			span.brochure__form-desc - ДОБРО ПОЖАЛОВАТЬ НА БОРТ -
			form.brochure__form
				input(type="text" placeholder="Ваше имя").brochure__field
				input(type="email" placeholder="Ваше email").brochure__field
				input(type="tel" placeholder="Ваш телефон").brochure__field
				button(type="submit").brochure__submit ОТПРАВИТЬ
.overlay
		
	
		