.header
	.navbar
		img.navbar__logo(src="img/logo.png")
		img.navbar__logo--active.navbar__logo--inactive(src="img/logo--black.png")
		.navbar__right
			ul.navbar__nav
				li #[a.navbar__item(href="#") О нас] 
				li #[a.navbar__item(href="#") Наши номера] 
				li #[a.navbar__item(href="#") О городе] 
				li #[a.navbar__item(href="#") Партнёрам] 
				li #[a.navbar__item(href="#") Контакты] 
			.navbar__barrier
			a(href="#").navbar__number +7 326 564 2455
	.container
		.col-lg-7
			h1.header__title Домашняя гостиница в г.Мирном (Якутия)
			h3.header__subtitle Номера квартирноого типа со всеми удобствами от 3000 руб/сутки.  Гостям предоставляется бесплатный трансфер от/до аэропорта.
			a(href="#").header__btn Узнать о свободных номерах
	.header__form
		.header__form-close
		h3.header__form-title Получите подробное описание путешествия
		input(type="text" placeholder="Ваше имя").brochure__field
		input(type="email" placeholder="Ваше email").brochure__field
		input(type="tel" placeholder="Ваш телефон").brochure__field
		button(type="submit").brochure__submit ОТПРАВИТЬ