header.header
	.header__left
		nav.navbar
			a(href="#").navbar-brand BLOM
			form.form-inline.pull-xs-right
				a(href="#").navbar__btn
					input.form-control.navbar__search.navbar__search--active(type="text" placeholder="Search")
		.header__article
			h1.header__article-title New Horizon in a beautiful friday morning
			a(href="#").header__article-category Travel
			span.header__article-date FEBRUARY 9, 2018
			p.header__article-text Nibh mauris cursus mattis molestie. Rutrum quisque non tellus orci ac auctor. Feugiat in ante metus dictum. At in tellus integer feugiat scelerisque varius morbi. Scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada.
	.header__sliders
		.header__slide
			.header__slide-image
.header__panel
	a(href="#").header__reference
		.header__wrapper
			.header__article-reference Read article #[span.header__article-arrow]
	.header__slide-number Prev
			

		
		
		

		
		
			