.relevant.relevant--top
	.relevant__blog.relevant__blog--1-3.blog--marketing
		a(href="#").link-post
		a.tag.tag--marketing(href="#") Marketing
		h2.relevant__head-title Try These Methods to Avoid Conflicts in the Working Space
		.block-info.block-info--light
			.block-info__left
				span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
				span.block-info__time-to-read #[i.far.fa-clock]5 mins read
			span.block-info__comments #[i.far.fa-comment-alt]5
	.relevant__blog.relevant__blog--1-3.blog--vogue
		a(href="#").link-post
		a.tag.tag--vogue(href="#") Vogue
		h2.relevant__title Trending Events for Developers and Designers in New York
		.block-info.block-info--light
			.block-info__left
				span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
				span.block-info__time-to-read #[i.far.fa-clock]5 mins read										
			span.block-info__comments #[i.far.fa-comment-alt]5
	.relevant__blog.blog--gadgets
		a(href="#").link-post
		a.tag.tag--gadgets(href="#") Gadgets
		h2.relevant__title Trending Events for Developers and Designers in New York
		.block-info.block-info--light
			.block-info__left
				span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
				span.block-info__time-to-read #[i.far.fa-clock]5 mins read
			span.block-info__comments #[i.far.fa-comment-alt]5
	.relevant__blog.blog--design
		a(href="#").link-post
		a.tag.tag--design(href="#") Design
		h2.relevant__title Trending Events for Developers and Designers in New York
		.block-info.block-info--light
			.block-info__left
				span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
				span.block-info__time-to-read #[i.far.fa-clock]5 mins read
			span.block-info__comments #[i.far.fa-comment-alt]5
	.relevant__blog.blog--travel
		a(href="#").link-post
		a.tag.tag--travel(href="#") Travel
		h2.relevant__title Trending Events for Developers and Designers in New York
		.block-info.block-info--light
			.block-info__left
				span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
				span.block-info__time-to-read #[i.far.fa-clock]5 mins read
			span.block-info__comments #[i.far.fa-comment-alt]5
.best
	h2.category__title Dont Miss Today #[i.fas.fa-bookmark(style="font-size: 14px; color: #C8C8C8;")]
	.best__posts
		.vertical-post.vertical-slide
			a(href="#").link-post
			.vertical-post__img(style="background: url(../../img/travel-6.jpg) 50% 50% no-repeat; background-size: cover;")
				a.tag.tag--travel(href="#") Travel
			.vertical-post__info.vertical-post__info--small
				h3.st-post__title.st-post__title--small Trending Events for Developers and Designers in New York
				.block-info
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
		.vertical-post.vertical-slide
			a(href="#").link-post
			.vertical-post__img(style="background: url(../../img/travel-6.jpg) 50% 50% no-repeat; background-size: cover;")
				a.tag.tag--travel(href="#") Travel
			.vertical-post__info.vertical-post__info--small
				h3.st-post__title.st-post__title--small Trending Events for Developers and Designers in New York
				.block-info
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
		.vertical-post.vertical-slide
			a(href="#").link-post
			.vertical-post__img(style="background: url(../../img/design-2.jpg) 50% 50% no-repeat; background-size: cover;")
				a.tag.tag--design(href="#") Design
			.vertical-post__info.vertical-post__info--small
				h3.st-post__title.st-post__title--small Need More Time? Read These Tips To Eliminate WORK
				.block-info
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
		.vertical-post.vertical-slide
			a(href="#").link-post
			.vertical-post__img(style="background: url(../../img/vogue-6.jpg) 50% 50% no-repeat; background-size: cover;")
				a.tag.tag--vogue(href="#") Vogue
			.vertical-post__info.vertical-post__info--small
				h3.st-post__title.st-post__title--small 3 Things Everyone Knows About WORK That You Don't
				.block-info
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
		.vertical-post.vertical-slide
			a(href="#").link-post
			.vertical-post__img(style="background: url(../../img/gadgets-4.jpg) 50% 50% no-repeat; background-size: cover;")
				a.tag.tag--gadgets(href="#") Gadgets
			.vertical-post__info.vertical-post__info--small
				h3.st-post__title.st-post__title--small 3 Ways To Master WORK Without Breaking A Sweat
				.block-info
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
h2.category__title Latest Posts #[i.fas.fa-bookmark]
.block-masonry
	.vertical-post.vertical-post--lg.vertical-post--3-columns
		a(href="#").link-post
		.vertical-post__img.vertical-post__img--lg(style="background: url(../../img/design-4.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--small(href="#") #[i.fas.fa-star]
			a.tag.tag--design(href="#") Design
		.vertical-post__info
			h3.st-post__title Trending Events for Developers and Designers in New York
			.st-post__block-info.block-info
				.block-info__left
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
					span.block-info__time-to-read #[i.far.fa-clock]5 mins read
				span.block-info__comments #[i.far.fa-comment-alt]5
	.vertical-post.vertical-post--3-columns
		a(href="#").link-post
		.vertical-post__img(style="background: url(../../img/design-4.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--small(href="#") #[i.fas.fa-image]
			a.tag.tag--design(href="#") Design
		.vertical-post__info
			h3.st-post__title Trending Events for Developers and Designers in New York
			.st-post__block-info.block-info
				.block-info__left
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
					span.block-info__time-to-read #[i.far.fa-clock]5 mins read
				span.block-info__comments #[i.far.fa-comment-alt]5	
	.vertical-post.vertical-post--lg.vertical-post--3-columns
		a(href="#").link-post
		.vertical-post__img.vertical-post__img--lg(style="background: url(../../img/design-4.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--design(href="#") Design
		.vertical-post__info
			h3.st-post__title Trending Events for Developers and Designers in New York
			.st-post__block-info.block-info
				.block-info__left
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
					span.block-info__time-to-read #[i.far.fa-clock]5 mins read
				span.block-info__comments #[i.far.fa-comment-alt]5
	.vertical-post.vertical-post--md.vertical-post--3-columns
		a(href="#").link-post
		.vertical-post__img.vertical-post__img--md(style="background: url(../../img/design-4.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--design(href="#") Design
		.vertical-post__info
			h3.st-post__title Trending Events for Developers and Designers in New York
			.st-post__block-info.block-info
				.block-info__left
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
					span.block-info__time-to-read #[i.far.fa-clock]5 mins read
				span.block-info__comments #[i.far.fa-comment-alt]5
	.vertical-post.vertical-post--3-columns
		a(href="#").link-post
		.vertical-post__img(style="background: url(../../img/design-4.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--design(href="#") Design
		.vertical-post__info
			h3.st-post__title Trending Events for Developers and Designers in New York
			.st-post__block-info.block-info
				.block-info__left
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
					span.block-info__time-to-read #[i.far.fa-clock]5 mins read
				span.block-info__comments #[i.far.fa-comment-alt]5
	.vertical-post.vertical-post--md.vertical-post--3-columns
		a(href="#").link-post
		.vertical-post__img.vertical-post__img--md(style="background: url(../../img/design-4.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--small(href="#") #[i.fas.fa-video]
			a.tag.tag--design(href="#") Design
		.vertical-post__info
			h3.st-post__title Trending Events for Developers and Designers in New York
			.st-post__block-info.block-info
				.block-info__left
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
					span.block-info__time-to-read #[i.far.fa-clock]5 mins read
				span.block-info__comments #[i.far.fa-comment-alt]5
	.vertical-post.vertical-post--3-columns.vertical-post--lg
		a(href="#").link-post
		.vertical-post__img.vertical-post__img--lg(style="background: url(../../img/design-4.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--design(href="#") Design
		.vertical-post__info
			h3.st-post__title Trending Events for Developers and Designers in New York
			.st-post__block-info.block-info
				.block-info__left
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
					span.block-info__time-to-read #[i.far.fa-clock]5 mins read
				span.block-info__comments #[i.far.fa-comment-alt]5	
	.vertical-post.vertical-post--3-columns.vertical-post--lg
		a(href="#").link-post
		.vertical-post__img.vertical-post__img--lg(style="background: url(../../img/design-4.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--design(href="#") Design
		.vertical-post__info
			h3.st-post__title Trending Events for Developers and Designers in New York
			.st-post__block-info.block-info
				.block-info__left
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
					span.block-info__time-to-read #[i.far.fa-clock]5 mins read
				span.block-info__comments #[i.far.fa-comment-alt]5
	.vertical-post.vertical-post--3-columns.vertical-post--lg
		a(href="#").link-post
		.vertical-post__img.vertical-post__img--lg(style="background: url(../../img/design-4.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--design(href="#") Design
		.vertical-post__info
			h3.st-post__title Trending Events for Developers and Designers in New York
			.st-post__block-info.block-info
				.block-info__left
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
					span.block-info__time-to-read #[i.far.fa-clock]5 mins read
				span.block-info__comments #[i.far.fa-comment-alt]5
.posts-load
	a(href="#").latest-posts__btn LOAD MORE 
.subscribe
	h2.category__title.subscribe__title Sign up for our Newsletter and stay informed
	p To the best news from marketing, sport and many more
	form.subscribe__form
		input.subscribe__email.subscribe__email(type="email" placeholder="Enter your email here")
		button(type="submit").subscribe__btn.subscribe__submit Subscribe#[i.fab.fa-telegram-plane]

	