.second-screen
	height: 100vh
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	background: #387846

.screen__technologies 
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	.screen__desc
		margin: 0
		max-width: 445px

.screen__technologies-line
	margin: 0 25px 0 40px
	width: 5px
	height: 210px
	background: #FF6363

.screen__version
	margin-bottom: 30px
	&:last-child
		margin: 0
	