section.blog__wrappper
	.container
		.row
			.col-8
				.post-items
					article.post-item
						img.post-item__picture(src="../img/post-1.jpg")
						.post-item__wrapper
							p.post-item__info
								a(href="#").post-item__category Design
								span.post-item__author #[i.far.fa-user] John Doe
								span.post-item__calendar #[i.fas.fa-calendar-alt] October 21, 2018
								span.post-item__comments #[i.far.fa-comment-alt] 5
							h3.post-item__title Placeholder text commonly used in the graphic
							p.post-item__text Pellentesque massa placerat duis ultricies lacus sed. Laoreet sit amet cursus sit amet dictum. Venenatis urna cursus eget nunc scelerisque. Sollicitudin tempor id eu nisl. Duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam. Pellentesque adipiscing commodo elit at. Eros in cursus turpis massa.
							a(href="#").post-item__read-more Read more
					article.post-item
						img.post-item__picture(src="../img/post-2.jpg")
						.post-item__wrapper
							p.post-item__info
								a(href="#").post-item__category Design
								span.post-item__author #[i.far.fa-user] John Doe
								span.post-item__calendar #[i.fas.fa-calendar-alt] October 21, 2018
								span.post-item__comments #[i.far.fa-comment-alt] 5
							h3.post-item__title Placeholder text commonly used in the graphic
							p.post-item__text Pellentesque massa placerat duis ultricies lacus sed. Laoreet sit amet cursus sit amet dictum. Venenatis urna cursus eget nunc scelerisque. Sollicitudin tempor id eu nisl. Duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam. Pellentesque adipiscing commodo elit at. Eros in cursus turpis massa.
							a(href="#").post-item__read-more Read more
					article.post-item
						img.post-item__picture(src="../img/post-3.jpg")
						.post-item__wrapper
							p.post-item__info
								a(href="#").post-item__category Design
								span.post-item__author #[i.far.fa-user] John Doe
								span.post-item__calendar #[i.fas.fa-calendar-alt] October 21, 2018
								span.post-item__comments #[i.far.fa-comment-alt] 5
							h3.post-item__title Placeholder text commonly used in the graphic
							p.post-item__text Pellentesque massa placerat duis ultricies lacus sed. Laoreet sit amet cursus sit amet dictum. Venenatis urna cursus eget nunc scelerisque. Sollicitudin tempor id eu nisl. Duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam. Pellentesque adipiscing commodo elit at. Eros in cursus turpis massa.
							a(href="#").post-item__read-more Read more
					article.post-item
						img.post-item__picture(src="../img/post-1.jpg")
						.post-item__wrapper
							p.post-item__info
								a(href="#").post-item__category Design
								span.post-item__author #[i.far.fa-user] John Doe
								span.post-item__calendar #[i.fas.fa-calendar-alt] October 21, 2018
								span.post-item__comments #[i.far.fa-comment-alt] 5
							h3.post-item__title Placeholder text commonly used in the graphic
							p.post-item__text Pellentesque massa placerat duis ultricies lacus sed. Laoreet sit amet cursus sit amet dictum. Venenatis urna cursus eget nunc scelerisque. Sollicitudin tempor id eu nisl. Duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam. Pellentesque adipiscing commodo elit at. Eros in cursus turpis massa.
							a(href="#").post-item__read-more Read more
					article.post-item
						img.post-item__picture(src="../img/post-2.jpg")
						.post-item__wrapper
							p.post-item__info
								a(href="#").post-item__category Design
								span.post-item__author #[i.far.fa-user] John Doe
								span.post-item__calendar #[i.fas.fa-calendar-alt] October 21, 2018
								span.post-item__comments #[i.far.fa-comment-alt] 5
							h3.post-item__title Placeholder text commonly used in the graphic
							p.post-item__text Pellentesque massa placerat duis ultricies lacus sed. Laoreet sit amet cursus sit amet dictum. Venenatis urna cursus eget nunc scelerisque. Sollicitudin tempor id eu nisl. Duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam. Pellentesque adipiscing commodo elit at. Eros in cursus turpis massa.
							a(href="#").post-item__read-more Read more
				.post__pages
					a(href="#").post__page #[i.fas.fa-angle-double-left]
					a(href="#").post__page 1			
					a(href="#").post__page.post__page--active 2			
					a(href="#").post__page 3			
					a(href="#").post__page #[i.fas.fa-angle-double-right]
			aside.col-4
				section.sidebar-block
					h4.sidebar__title Search
					form.sidebar__search
						input(type="search" placeholder="search").sidebar__search-field
						button(type="submit").sidebar__btn #[i.fas.fa-search]
				section.sidebar-block
					h4.sidebar__title Categories
					ul.sidebar__categories
						li.sidebar__category
							a(href="#").sidebar__category-item Studio 
							span.sidebar__number 12
						li.sidebar__category
							a(href="#").sidebar__category-item Design
							span.sidebar__number 24
						li.sidebar__category
							a(href="#").sidebar__category-item Creative
							span.sidebar__number 38
						li.sidebar__category
							a(href="#").sidebar__category-item Corporate
							span.sidebar__number 5
						li.sidebar__category
							a(href="#").sidebar__category-item News
							span.sidebar__number 17
				section.sidebar-block
					h4.sidebar__title Recent Posts
					.sidebar-posts
						article.sidebar-post
							h4.sidebar-post__title 7 Rules About AGENCY Meant To Be Broken
							span.sidebar-item__calendar #[i.fas.fa-calendar-alt] October 21, 2018
						article.sidebar-post
							h4.sidebar-post__title 7 5 Ways Of AGENCY That Can Drive You Bankrupt - Fast!
							span.sidebar-item__calendar #[i.fas.fa-calendar-alt] October 21, 2018
						article.sidebar-post
							h4.sidebar-post__title The Ultimate Deal On AGENCY
							span.sidebar-item__calendar #[i.fas.fa-calendar-alt] October 21, 2018
				section.sidebar-block
					h4.sidebar__title Tags
					.sidebar__tags
						a(href="#").sidebar__tag Studio
						a(href="#").sidebar__tag News
						a(href="#").sidebar__tag Design
						a(href="#").sidebar__tag Corporate
						a(href="#").sidebar__tag Creative
form.contact__form.contact__form--i.contact__form--big
	span.block__subtitle Lets Talk
	span.block__title We are open to communication
	.contact__form-wrapper.contact__form-wrapper--i
		label(for="name").contact__form-name Your Name #[br]
			input(type="text" id="name" placeholder="Alex").contact__form-field
		label(for="email").contact__form-name Your Email #[br]
			input(type="email" id="email" placeholder="Enter your email...").contact__form-field
		label(for="text").contact__form-name.contact__form-name--big Your Name #[br]
			textarea(type="text" id="text" placeholder="Enter the message...").contact__form-field.contact__form-text
		button(type="submit").contact__form-submit.contact__form-submit--cntr Send Message