section.first-screen
	.screen__wrapper
		.screen__left
			h2.screen__title We make web-sites
			p.screen__desc We believe that designing products and services in close partnership with our clients is the only way to have a real impact on their business.
			.screen__start-project
				a(href="#").screen__btn-start START A PROJECT
				.first-screen__email-wrapper
					a(href="#").first-screen__email Mail us Pizzazzstudio@gmail.com
					span.first-screen__question For any question or concern
		.screen__right
			img(src="img/first-screen__template.png")
	