header.header
	nav.navbar
		a(href="#").navbar__logo
			img(src="img/header__logo.png")
		a(href="#").navbar__lang.navbar__lang--active EN
		a(href="#").navbar__lang RU
		ul.navbar__items
			li.navbar__item
				a(href="#").navbar__link.navbar__link--active About
			li.navbar__item
				a(href="#").navbar__link Advantages
			li.navbar__item
				a(href="#").navbar__link Our works
			li.navbar__item
				a(href="#").navbar__link Pricing
			li.navbar__item
				a(href="#").navbar__link Contact Us
a(href='#').start-project START A PROJECT
.socials
	a(href='#').social__link #[i.fab.fa-facebook-f]
	a(href='#').social__link #[i.fab.fa-twitter]
	a(href='#').social__link #[i.fab.fa-vk]