section.second-screen
	.screen__wrapper
		.screen__left
			h2.screen__title fully customizable
			.screen__technologies
				.screen__versions
					img.screen__version(src="img/second__wp.png")
					img.screen__version(src="img/second__html.png")
					img.screen__version(src="img/second__css.png")
				.screen__technologies-line
				p.screen__desc You can get fully customizable web-sites  working with us! With access to the admin panel of your site, you can at any time configure it in a new way. We work with the popular CMS WordPress. Also our ideas can help you achieve marketing goals.
		.screen__right
			img(src="img/first-screen__template.png")