section.third-screen
	.screen__wrapper
		.screen__left
			h2.screen__title fully customizable
			.screen__technologies
				.screen__technologies-line
				p.screen__desc Risus sed vulputate odio ut enim blandit volutpat maecenas. Laoreet sit amet cursus sit amet dictum. Nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi.
		.screen__right
			img(src="img/first-screen__template.png")