section.third-screen
	.screen__wrapper
		.screen__left.screen__left--works
			h2.screen__title Our works
			.screen__works
				.screen__works-slider
					.screen__work.screen__work-slider
						h3.work__title Assenezator46.ru
						p.work__desc Risus sed vulputate odio ut enim blandit volutpat maecenas. Laoreet sit amet cursus sit amet dictum. Nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi.
					.screen__work.screen__work-slider
						h3.work__title Port46.ru
						p.work__desc Laoreet sit amet cursus sit amet dictum. Nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi.
					.screen__work.screen__work-slider
						h3.work__title Kvartira-na-sutki.ru
						p.work__desc Risus sed vulputate odio ut enim blandit volutpat maecenas
			.slider-works__btns
				button(type='button').slider-works__btn.slider-works__btn--prev Prev
				button(type='button').slider-works__btn.slider-works__btn--next Next
		.screen__right
			.slider-works__pictures
				.slider-works__picture
					img(src="img/assenezator46.png")
					a(href="#").slider-works__link Watch Full Work
				.slider-works__picture
					img(src="img/assenezator46.png")
					a(href="#").slider-works__link Watch Full Work
				.slider-works__picture
					img(src="img/assenezator46.png")
					a(href="#").slider-works__link Watch Full Work