.container
	.relevant
		.relevant__blog.relevant__main-blog.blog--marketing
			a.tag.tag--marketing(href="#") Marketing
			h2.relevant__head-title Try These Methods to Avoid Conflicts in the Working Space
			.blog-info
				.blog-info__left
					span.blog-info__date October 25, 2018
					span.blog-info__time-to-read 5 mins read
				span.blog-info__comments 5
		.relevant__blog.blog--vogue
			a.tag.tag--vogue(href="#") Vogue
			h2.relevant__title Trending Events for Developers and Designers in New York
			.blog-info
				.blog-info__left
					span.blog-info__date October 25, 2018
					span.blog-info__time-to-read 5 mins reads
				span.blog-info__comments 5
		.relevant__blog.blog--gadgets
			a.tag.tag--gadgets(href="#") Gadgets
			h2.relevant__title Trending Events for Developers and Designers in New York
			.blog-info
				.blog-info__left
					span.blog-info__date October 25, 2018
					span.blog-info__time-to-read 5 mins read
				span.blog-info__comments 5
		.relevant__blog.blog--design
			a.tag.tag--design(href="#") Design
			h2.relevant__title Trending Events for Developers and Designers in New York
			.blog-info
				.blog-info__left
					span.blog-info__date October 25, 2018
					span.blog-info__time-to-read 5 mins read
				span.blog-info__comments 5
		.relevant__blog.blog--travel
			a.tag.tag--travel(href="#") Travel
			h2.relevant__title Trending Events for Developers and Designers in New York
			.blog-info
				.blog-info__left
					span.blog-info__date October 25, 2018
					span.blog-info__time-to-read 5 mins read
				span.blog-info__comments 5
		.relevant__blog.blog--marketing
			a.tag.tag--marketing(href="#") Marketing
			h2.relevant__title Trending Events for Developers and Designers in New York
			.blog-info
				.blog-info__left
					span.blog-info__date October 25, 2018
					span.blog-info__time-to-read 5 mins read
				span.blog-info__comments 5
	