header.container
	nav.navbar
		a(href="#").navbar-brand BLOM#[span.navbar-brand--blur V2].
		.navbar__right
			ul.navbar-nav.navbar-expand
				li.nav-item
					a.nav-link(href="#") Home
				li.nav-item
					a.nav-link(href="#") Featerus
				li.nav-item
					a.nav-link(href="#") Gadgets
				li.nav-item
					a.nav-link(href="#") Marketing
				li.nav-item
					a.nav-link(href="#") Buy Theme
			input.header__search(type="search")
					
				