section.team--i
	.container
		.team__grid
			article.team__slide.team__slide--i(style="background: url(../img/team-1.jpg) 50% 50% no-repeat; background-size: cover;")
				.team__item-desc
					.team__item-socials
						a(href="#").team__item-social #[i.fab.fa-facebook-f]
						a(href="#").team__item-social #[i.fab.fa-twitter]
						a(href="#").team__item-social #[i.fab.fa-instagram]
					h3.team__item-name Anastasiya Novikova
					span.team__item-post Designer
			article.team__slide.team__slide--i(style="background: url(../img/team-3.jpg) 50% 50% no-repeat; background-size: cover;")
				.team__item-desc
					.team__item-socials
						a(href="#").team__item-social #[i.fab.fa-facebook-f]
						a(href="#").team__item-social #[i.fab.fa-twitter]
						a(href="#").team__item-social #[i.fab.fa-instagram]
					h3.team__item-name Lollita Dolina
					span.team__item-post Manager
			article.team__slide.team__slide--i(style="background: url(../img/team-2.jpg) 50% 50% no-repeat; background-size: cover;")
				.team__item-desc
					.team__item-socials
						a(href="#").team__item-social #[i.fab.fa-facebook-f]
						a(href="#").team__item-social #[i.fab.fa-twitter]
						a(href="#").team__item-social #[i.fab.fa-instagram]
					h3.team__item-name Elena Magnitogorskaya
					span.team__item-post Creative
			article.team__slide.team__slide--i(style="background: url(../img/team-1.jpg) 50% 50% no-repeat; background-size: cover;")
				.team__item-desc
					.team__item-socials
						a(href="#").team__item-social #[i.fab.fa-facebook-f]
						a(href="#").team__item-social #[i.fab.fa-twitter]
						a(href="#").team__item-social #[i.fab.fa-instagram]
					h3.team__item-name Anastasiya Novikova
					span.team__item-post Designer
			article.team__slide.team__slide--i(style="background: url(../img/team-3.jpg) 50% 50% no-repeat; background-size: cover;")
				.team__item-desc
					.team__item-socials
						a(href="#").team__item-social #[i.fab.fa-facebook-f]
						a(href="#").team__item-social #[i.fab.fa-twitter]
						a(href="#").team__item-social #[i.fab.fa-instagram]
					h3.team__item-name Lollita Dolina
					span.team__item-post Manager
			article.team__slide.team__slide--i(style="background: url(../img/team-2.jpg) 50% 50% no-repeat; background-size: cover;")
				.team__item-desc
					.team__item-socials
						a(href="#").team__item-social #[i.fab.fa-facebook-f]
						a(href="#").team__item-social #[i.fab.fa-twitter]
						a(href="#").team__item-social #[i.fab.fa-instagram]
					h3.team__item-name Elena Magnitogorskaya
					span.team__item-post Creative
.count__wrappers.count__wrappers--i
	.count__items.count__items--i
		.count__item
			span.count__item-number 40+
			span.count__item-text Team Members
		.count__item
			span.count__item-number 78
			span.count__item-text Finished Projects
		.count__item
			span.count__item-number 984+
			span.count__item-text Cups of Coffee
		.count__item
			span.count__item-number 69
			span.count__item-text Positive Rewievs	
form.contact__form.contact__form--i.contact__form--big
	span.block__subtitle Lets Talk
	span.block__title We are open to communication
	.contact__form-wrapper.contact__form-wrapper--i
		label(for="name").contact__form-name Your Name #[br]
			input(type="text" id="name" placeholder="Alex").contact__form-field
		label(for="email").contact__form-name Your Email #[br]
			input(type="email" id="email" placeholder="Enter your email...").contact__form-field
		label(for="text").contact__form-name.contact__form-name--big Your Name #[br]
			textarea(type="text" id="text" placeholder="Enter the message...").contact__form-field.contact__form-text
		button(type="submit").contact__form-submit.contact__form-submit--cntr Send Message