.container-fluid.footer
	.container
		.row.justify-content-between.align-items-center
			.col-3.footer__development
				p © 2018 BLOM, made by #[a(href="#").footer__development-ref BurtsevDesign]
			.col-3
				.soc-net__items.soc-net
					a(href="#").soc-net__item.soc-net__item--fb
					a(href="#").soc-net__item.soc-net__item--tw
					a(href="#").soc-net__item.soc-net__item--ig
					a(href="#").soc-net__item.soc-net__item--dr
					a(href="#").soc-net__item.soc-net__item--be
					a(href="#").soc-net__item.soc-net__item--pt