.container.blog
	.row.justify-content-between
		.col-lg-8#articles
			.article
				h3.article__title Morning in the mountains
				.article__wrapper
					.article__info
						a(href="#").article__category Travel
						span.article__date FEBRUARY 9, 2018
					.artical__social.social
						a(href="#").social__link--fb #[i.fab.fa-facebook-f(style="color: #000; font-size: 12px")] Share					
						a(href="#").social__link--tw #[i.fab.fa-twitter(style="color: #000; font-size: 12px")] Tweet
				img.article__image(src="img/blog-1.jpg" )
				p.article__text Nibh mauris cursus mattis molestie. Rutrum quisque non tellus orci ac auctor. Feugiat in ante metus dictum. At in tellus integer feugiat scelerisque varius morbi. Scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada.
				.article__wrapper
					a(href="#").article__reference Read article #[span.article__arrow]
					span.article__comments 0 Comments
			.article
				h3.article__title How long should I go to my goal so that at the end the light comes on
				.article__wrapper
					.article__info
						a(href="#").article__category Livestyle
						span.article__date DECEMBER 24, 2017
					.artical__social.social
						a(href="#").social__link--fb #[i.fab.fa-facebook-f(style="color: #000; font-size: 12px")] Share					
						a(href="#").social__link--tw #[i.fab.fa-twitter(style="color: #000; font-size: 12px")] Tweet
				img.article__image(src="img/blog-2.jpg" )
				p.article__text Et magnis dis parturient montes nascetur ridiculus mus mauris vitae. Curabitur gravida arcu ac tortor dignissim convallis aenean et tortor. Volutpat est velit egestas dui id ornare arcu. Enim sit amet venenatis urna cursus. Turpis egestas pretium aenean pharetra. Sit amet consectetur adipis
				.article__wrapper
					a(href="#").article__reference Read article #[span.article__arrow]
					span.article__comments 0 Comments
			.article
					h3.article__title Morning in the mountains
					.article__wrapper
						.article__info
							a(href="#").article__category Travel
							span.article__date FEBRUARY 9, 2018
						.artical__social.social
							a(href="#").social__link--fb #[i.fab.fa-facebook-f(style="color: #000; font-size: 12px")] Share					
							a(href="#").social__link--tw #[i.fab.fa-twitter(style="color: #000; font-size: 12px")] Tweet
					img.article__image(src="img/blog-1.jpg" )
					p.article__text Nibh mauris cursus mattis molestie. Rutrum quisque non tellus orci ac auctor. Feugiat in ante metus dictum. At in tellus integer feugiat scelerisque varius morbi. Scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada.
					.article__wrapper
						a(href="#").article__reference Read article #[span.article__arrow]
						span.article__comments 0 Comments
			.article
				h3.article__title How long should I go to my goal so that at the end the light comes on
				.article__wrapper
					.article__info
						a(href="#").article__category Livestyle
						span.article__date DECEMBER 24, 2017
					.artical__social.social
						a(href="#").social__link--fb #[i.fab.fa-facebook-f(style="color: #000; font-size: 12px")] Share					
						a(href="#").social__link--tw #[i.fab.fa-twitter(style="color: #000; font-size: 12px")] Tweet
				img.article__image(src="img/blog-2.jpg" )
				p.article__text Et magnis dis parturient montes nascetur ridiculus mus mauris vitae. Curabitur gravida arcu ac tortor dignissim convallis aenean et tortor. Volutpat est velit egestas dui id ornare arcu. Enim sit amet venenatis urna cursus. Turpis egestas pretium aenean pharetra. Sit amet consectetur adipis
				.article__wrapper
					a(href="#").article__reference Read article #[span.article__arrow]
					span.article__comments 0 Comments
			.article
				h3.article__title Morning in the mountains
				.article__wrapper
					.article__info
						a(href="#").article__category Travel
						span.article__date FEBRUARY 9, 2018
					.artical__social.social
						a(href="#").social__link--fb #[i.fab.fa-facebook-f(style="color: #000; font-size: 12px")] Share					
						a(href="#").social__link--tw #[i.fab.fa-twitter(style="color: #000; font-size: 12px")] Tweet
				img.article__image(src="img/blog-1.jpg" )
				p.article__text Nibh mauris cursus mattis molestie. Rutrum quisque non tellus orci ac auctor. Feugiat in ante metus dictum. At in tellus integer feugiat scelerisque varius morbi. Scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada.
				.article__wrapper
					a(href="#").article__reference Read article #[span.article__arrow]
					span.article__comments 0 Comments
			.article-page
				a(href="#").article-page__item.article-page__numeration--prev Prev
				.article-page__numeration
					a(href="#").article-page__item 1
					a(href="#").article-page__item.article-page__item--active 7
					a(href="#").article-page__item 28
				a(href="#").article-page__item.article-page__numeration--next Next
		.col-lg-3#sidebar
			.profile-sidebar
				img(src="img/avatar.jpg").profile-sidebar__image
				h3.profile-sidebar__name Melisa Jhans 
				p.profile-sidebar__info Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua.
				a(href="#").profile-sidebar__more-detailed Read more #[span.article__arrow]
			.categories-sidebar
				h4.sidebar__title Categories
				ul
					li.categories-sidebar__item #[a(href="#").categories-sidebar__reference Travel] #[span.categories-sidebar__sum 5]
					li.categories-sidebar__item #[a(href="#").categories-sidebar__reference Life Style] #[span.categories-sidebar__sum 11]
					li.categories-sidebar__item #[a(href="#").categories-sidebar__reference Sport] #[span.categories-sidebar__sum 8]
					li.categories-sidebar__item #[a(href="#").categories-sidebar__reference Music] #[span.categories-sidebar__sum 2]
			.soc-net
				h4.sidebar__title Follow
				.soc-net__items
					a(href="#").soc-net__item.soc-net__item--fb
					a(href="#").soc-net__item.soc-net__item--tw
					a(href="#").soc-net__item.soc-net__item--ig
					a(href="#").soc-net__item.soc-net__item--dr
					a(href="#").soc-net__item.soc-net__item--be
					a(href="#").soc-net__item.soc-net__item--pt
			.tags-sidebar
				h4.sidebar__title Tags
				.tags-sidebar__items
					a(href="#").tags-sidebar__item Somethink
					a(href="#").tags-sidebar__item Photoshop
					a(href="#").tags-sidebar__item WordPress
					a(href="#").tags-sidebar__item Music
					a(href="#").tags-sidebar__item Cars
					a(href="#").tags-sidebar__item Development
			.popular-sidebar
				h4.sidebar__title Popular posts
				.popular-articles
					.popular-article
						img.popular-article__image(src="img/blog-2.jpg" )
						a(href="#").article__category Livestyle
						span.article__date DECEMBER 24, 2017
						h3.popular-article__title How long should I go to my goal so that at the end the light comes on
					.popular-article
						img.popular-article__image(src="img/blog-1.jpg" )
						a(href="#").article__category Travel
						span.article__date FEBRUARY 9, 2018
						h3.popular-article__title Morning in the mountains
					.popular-article
						img.popular-article__image(src="img/blog-2.jpg" )
						a(href="#").article__category Livestyle
						span.article__date DECEMBER 24, 2017
						h3.popular-article__title How long should I go to my goal so that at the end the light comes on
			.subscription-sidebar
				h4.sidebar__title Subscribe
				form
					input(type="email" id="sub-sidebar-email" class="form-control subscription-sidebar__email" placeholder="Enter your email")
					label.subscrition-sidebar__email-icon(for="sub-sidebar-email")
					button.subscription-sidebar__btn(type="submit") SIGN UP
	.row
		.col-12
			.subscription
				h4.subscription__title Subscribe to the best articles from my blog
				form
					input(type="email" id="sub-sidebar-email" placeholder="Enter your email").form-control.subscription__email
					label.subscrition__email-icon(for="sub-email")
			.instagram-feed
				h5.instagram-feed__title Check our instagram
				h3.instagram-feed__login @BlornWord
				.row
					img(src="img/ig-feed-1.jpg").col-3
					img(src="img/ig-feed-2.jpg").col-3
					img(src="img/ig-feed-3.jpg").col-3
					img(src="img/ig-feed-4.jpg").col-3
.scroll-top.scroll-top--hidden
	p.scroll-top__text Scroll to top
		
			
				
					