.container.hotel
	.row.justify-content-between
		.col-lg-5.sagittarius
			h3.hotel__subtitle Добро пожаловать в
			h3.hotel__title Гостиницу «Стрелец»
			p В каждых апартаментах имеются все удобства для проживания: туалетные принадлежности, ванная комната, полностью оборудованная кухня, бесплатный Wi-Fi и телевизор. Мы говорим на вашем языке!
		.hotel__numbers.col-lg-6
			.hotel__in-number
				p.hotel__count.spincrement 75
				p.hotel__in-number-desc Средняя оценка
			.hotel__in-number
				p.hotel__count.spincrement1 12
				p.hotel__in-number-desc Апартаментов
			.hotel__in-number
				.hotel__in-number-wrapper
					span.hotel__count.spincrement2 700
					span.hotel__count +
				p.hotel__in-number-desc Довольных клиентов
.amenities
	.container
		.row
			.col-lg-3.col-md-6.amenity
				img(src="img/amenity-1.png")
				h4.amenity__title Бесплатный Wi-Fi
				p Во всех номерах есть быстрый интернет
			.col-lg-3.col-md-6.amenity
				img(src="img/amenity-2.png")
				h4.amenity__title Уютная мебель
				p Новая и мягкая мебель со свежим спальным бельём
			.col-lg-3.col-md-6.amenity
				img(src="img/amenity-3.png")
				h4.amenity__title Трансфер
				p Бесплатный трансфер от/до аэропорта
			.col-lg-3.col-md-6.amenity
				img(src="img/amenity-4.png")
				h4.amenity__title Дешевая цена
				p Самая низкая цена на проживание в регионе
.appartments.container
	h3.appartments__subtitle Посмотрите на
	h3.appartments__title Наши номера
	.row
		.col-lg-4
			.appartment.appartment-1
				.appartment__info
					h4.apparment__title 2-комнатная квартира 65 м2 на 2 человек 
					p Комната с туалетным столиком и рабочим местом. Wi-Fi. Квартира после ремонта!
					a(href="javascript:;" data-fancybox-trigger="flat1" data-fancybox-index="0").apparment__photos Смотреть фото #[.apparment__photos-arrow]
				span.appartment__city г.Мирный
		.col-lg-4
			.appartment.appartment-2
				.appartment__info
					h4.apparment__title 2-комнатная квартира 65 м2 на 2 человек 
					p Комната с туалетным столиком и рабочим местом. Wi-Fi. Квартира после ремонта!
					a(href="javascript:;" data-fancybox-trigger="flat2" data-fancybox-index="0").apparment__photos Смотреть фото #[.apparment__photos-arrow]
				span.appartment__city г.Мирный
		.col-lg-4
			.appartment.appartment-3
				.appartment__info
					h4.apparment__title 2-комнатная квартира 65 м2 на 2 человек 
					p Комната с туалетным столиком и рабочим местом. Wi-Fi. Квартира после ремонта!
					a(href="javascript:;" data-fancybox-trigger="flat3" data-fancybox-index="0").apparment__photos Смотреть фото #[.apparment__photos-arrow]
				span.appartment__city г.Мирный
	.appartments--hide
		.row
			.col-lg-4
				.appartment.appartment-1
					.appartment__info
						h4.apparment__title 2-комнатная квартира 65 м2 на 2 человек 
						p Комната с туалетным столиком и рабочим местом. Wi-Fi. Квартира после ремонта!
						a(href="#").apparment__photos Смотреть фото #[.apparment__photos-arrow]
					span.appartment__city г.Мирный
			.col-lg-4
				.appartment.appartment-2
					.appartment__info
						h4.apparment__title 2-комнатная квартира 65 м2 на 2 человек 
						p Комната с туалетным столиком и рабочим местом. Wi-Fi. Квартира после ремонта!
						a(href="javascript:;" data-fancybox-trigger="flat5" data-fancybox-index="0").apparment__photos Смотреть фото #[.apparment__photos-arrow]
					span.appartment__city г.Мирный
			.col-lg-4
				.appartment.appartment-3
					.appartment__info
						h4.apparment__title 2-комнатная квартира 65 м2 на 2 человек 
						p Комната с туалетным столиком и рабочим местом. Wi-Fi. Квартира после ремонта!
						a(href="javascript:;" data-fancybox-trigger="flat6" data-fancybox-index="0").apparment__photos Смотреть фото #[.apparment__photos-arrow]
					span.appartment__city г.Мирный
		.row
			.col-lg-4
				.appartment.appartment-1
					.appartment__info
						h4.apparment__title 2-комнатная квартира 65 м2 на 2 человек 
						p Комната с туалетным столиком и рабочим местом. Wi-Fi. Квартира после ремонта!
						a(href="javascript:;" data-fancybox-trigger="flat7" data-fancybox-index="0").apparment__photos Смотреть фото #[.apparment__photos-arrow]
					span.appartment__city г.Мирный
			.col-lg-4
				.appartment.appartment-2
					.appartment__info
						h4.apparment__title 2-комнатная квартира 65 м2 на 2 человек 
						p Комната с туалетным столиком и рабочим местом. Wi-Fi. Квартира после ремонта!
						a(href="javascript:;" data-fancybox-trigger="flat8" data-fancybox-index="0").apparment__photos Смотреть фото #[.apparment__photos-arrow]
					span.appartment__city г.Мирный
			.col-lg-4
				.appartment.appartment-3
					.appartment__info
						h4.apparment__title 2-комнатная квартира 65 м2 на 2 человек 
						p Комната с туалетным столиком и рабочим местом. Wi-Fi. Квартира после ремонта!
						a(href="javascript:;" data-fancybox-trigger="flat9" data-fancybox-index="0").apparment__photos Смотреть фото #[.apparment__photos-arrow]
					span.appartment__city г.Мирный
		.row
			.col-lg-4
				.appartment.appartment-1
					.appartment__info
						h4.apparment__title 2-комнатная квартира 65 м2 на 2 человек 
						p Комната с туалетным столиком и рабочим местом. Wi-Fi. Квартира после ремонта!
						a(href="#").apparment__photos Смотреть фото #[.apparment__photos-arrow]
					span.appartment__city г.Удачный
			.col-lg-4
				.appartment.appartment-2
					.appartment__info
						h4.apparment__title 2-комнатная квартира 65 м2 на 2 человек 
						p Комната с туалетным столиком и рабочим местом. Wi-Fi. Квартира после ремонта!
						a(href="#").apparment__photos Смотреть фото #[.apparment__photos-arrow]
					span.appartment__city г.Удачный
			.col-lg-4
				.appartment.appartment-3
					.appartment__info
						h4.apparment__title 2-комнатная квартира 65 м2 на 2 человек 
						p Комната с туалетным столиком и рабочим местом. Wi-Fi. Квартира после ремонта!
						a(href="javascript:;" data-fancybox-trigger="flat12" data-fancybox-index="0").apparment__photos Смотреть фото #[.apparment__photos-arrow]
					span.appartment__city г.Удачный
	button.appartments__more Показать еще
	button.appartments__less Свернуть
.container
	.reservation
		.row.align-items-center
			.col-xl-5.col-lg-12
				h4.reservation__title Понравился номер?
				h4.reservation__subtitle Оставьте заявку, чтобы забронировать его
			form.reservation__field
				input.reservation__form(type="text" placeholder="Ваше имя")
				input.reservation__form(type="phone" placeholder="Ваш телефон")
				button.reservation__submit Отправить
.cooperation
	img(src="img/icon-report.png")
	.cooperation__text
		h3.cooperation__title Предоставляем всю отчётность
		p Мы рады сотрудничеству с организациями и предоставляем специальный тариф при заключении договора. Также мы предоставим всю документацию
.cities
	.container
		.city.row
			.city__left.col-xl-6.col-lg-5
				.city__desc
					h3.city__name Город Мирный
					p Город Мирный находится в юго-западной части Республики Саха и является центром Мирнинского района. Его жизнь связана с наличием открытой в 1955 году кимберлитовой трубки «Мир» и активной добычей алмазов. Первоначально она велась открытым способом. В результате образовался один из самых крупных карьеров мира. Его глубина составляет 525 метров, а ширина превышает 1200.
					.city__gismeteo
						span Мирный
			.city__photo.city__photo--mirniy.col-xl-6.col-lg-5
		.city.row
			.city__photo.city__photo--udachny.col-xl-6.col-lg-5
			.city__right.col-xl-6.col-lg-5
				.city__desc.city__desc--right
					h3.city__name Город Удачный
					p Город Удачный – город улусного значения в Мирнинском районе (улусе), расположен в западной части Якутии у самого Северного полярного круга. Удачный возник в связи с открытием алмазного месторождения – кимберлитовой трубки «Удачная», именем которой и назван город, в 15 км от города – трубка «Зарница». Именно здесь добывается большая часть алмазов России.
					.city__gismeteo
						span Мирный
.contacts.container
	h3.contacts__title Контакты:
	.contacts__info
		span Телефон
		p +7-914-252-22-19
	.contacts__info
		span Электронная почта
		p sirina2005@mail.ru
	a(href="#").contacts__btn Узнать о свободных номерах
#map
.flats
	.flat1
		a(href="img/flat1-1.jpg" data-fancybox="flat1")
			img(data-src="img/flat1-1.jpg")
		a(href="img/flat1-2.jpg" data-fancybox="flat1")
			img(data-src="img/flat1-2.jpg")
		a(href="img/flat1-3.jpg" data-fancybox="flat1")
			img(data-src="img/flat1-3.jpg")
		a(href="img/flat1-4.jpg" data-fancybox="flat1")
			img(data-src="img/flat1-4.jpg")
		a(href="img/flat1-5.jpg" data-fancybox="flat1")
			img(data-src="img/flat1-5.jpg")
		a(href="img/flat1-6.jpg" data-fancybox="flat1")
			img(data-src="img/flat1-6.jpg")
		a(href="img/flat1-7.jpg" data-fancybox="flat1")
			img(data-src="img/flat1-7.jpg")
		a(href="img/flat1-8.jpg" data-fancybox="flat1")
			img(data-src="img/flat1-8.jpg")
		a(href="img/flat1-9.jpg" data-fancybox="flat1")
			img(data-src="img/flat1-9.jpg")
		a(href="img/flat1-10.jpg" data-fancybox="flat1")
			img(data-src="img/flat1-10.jpg")
		a(href="img/flat1-11.jpg" data-fancybox="flat1")
			img(data-src="img/flat1-11.jpg")
		a(href="img/flat1-12.jpg" data-fancybox="flat1")
			img(data-src="img/flat1-12.jpg")
		a(href="img/flat1-13.jpg" data-fancybox="flat1")
			img(data-src="img/flat1-13.jpg")
	.flat2
		a(href="img/flat2-1.webp" data-fancybox="flat2")
			img(data-src="img/flat2-1.webp")
		a(href="img/flat2-2.webp" data-fancybox="flat2")
			img(data-src="img/flat2-2.webp")
		a(href="img/flat2-3.webp" data-fancybox="flat2")
			img(data-src="img/flat2-3.webp")
		a(href="img/flat2-4.webp" data-fancybox="flat2")
			img(data-src="img/flat2-4.webp")
		a(href="img/flat2-5.webp" data-fancybox="flat2")
			img(data-src="img/flat2-5.webp")
		a(href="img/flat2-6.webp" data-fancybox="flat2")
			img(data-src="img/flat2-6.webp")
		a(href="img/flat2-7.webp" data-fancybox="flat2")
			img(data-src="img/flat2-7.webp")
	.flat3
		a(href="img/flat3-1.jpg" data-fancybox="flat3")
			img(data-src="img/flat3-1.jpg")
		a(href="img/flat3-2.jpg" data-fancybox="flat3")
			img(data-src="img/flat3-2.jpg")
		a(href="img/flat3-3.jpg" data-fancybox="flat3")
			img(data-src="img/flat3-3.jpg")
		a(href="img/flat3-4.jpg" data-fancybox="flat3")
			img(data-src="img/flat3-4.jpg")
		a(href="img/flat3-5.jpg" data-fancybox="flat3")
			img(data-src="img/flat3-5.jpg")
		a(href="img/flat3-6.jpg" data-fancybox="flat3")
			img(data-src="img/flat3-6.jpg")
		a(href="img/flat3-7.jpg" data-fancybox="flat3")
			img(data-src="img/flat3-7.jpg")
		a(href="img/flat3-8.jpg" data-fancybox="flat3")
			img(data-src="img/flat3-8.jpg")
		a(href="img/flat3-9.jpg" data-fancybox="flat3")
			img(data-src="img/flat3-9.jpg")
		a(href="img/flat3-10.jpg" data-fancybox="flat3")
			img(data-src="img/flat3-10.jpg")
		a(href="img/flat3-11.jpg" data-fancybox="flat3")
			img(data-src="img/flat3-11.jpg")
	.flat5
		a(href="img/flat5-1.jpg" data-fancybox="flat5")
			img(data-src="img/flat5-1.jpg")
		a(href="img/flat5-2.jpg" data-fancybox="flat5")
			img(data-src="img/flat5-2.jpg")
		a(href="img/flat5-3.jpg" data-fancybox="flat5")
			img(data-src="img/flat5-3.jpg")
		a(href="img/flat5-4.jpg" data-fancybox="flat5")
			img(data-src="img/flat5-4.jpg")
		a(href="img/flat5-5.jpg" data-fancybox="flat5")
			img(data-src="img/flat5-5.jpg")
		a(href="img/flat5-6.jpg" data-fancybox="flat5")
			img(data-src="img/flat5-6.jpg")
		a(href="img/flat5-7.jpg" data-fancybox="flat5")
			img(data-src="img/flat5-7.jpg")
		a(href="img/flat5-8.jpg" data-fancybox="flat5")
			img(data-src="img/flat5-8.jpg")
		a(href="img/flat5-9.jpg" data-fancybox="flat5")
			img(data-src="img/flat5-9.jpg")
		a(href="img/flat5-10.jpg" data-fancybox="flat5")
			img(data-src="img/flat5-10.jpg")
		a(href="img/flat5-11.jpg" data-fancybox="flat5")
			img(data-src="img/flat5-11.jpg")
	.flat6
		a(href="img/flat6-1.webp" data-fancybox="flat6")
			img(data-src="img/flat6-1.webp")
		a(href="img/flat6-2.webp" data-fancybox="flat6")
			img(data-src="img/flat6-2.webp")
		a(href="img/flat6-3.webp" data-fancybox="flat6")
			img(data-src="img/flat6-3.webp")
		a(href="img/flat6-4.webp" data-fancybox="flat6")
			img(data-src="img/flat6-4.webp")
		a(href="img/flat6-5.webp" data-fancybox="flat6")
			img(data-src="img/flat6-5.webp")
		a(href="img/flat6-6.webp" data-fancybox="flat6")
			img(data-src="img/flat6-6.webp")
		a(href="img/flat6-7.webp" data-fancybox="flat6")
			img(data-src="img/flat6-7.webp")
		a(href="img/flat6-8.webp" data-fancybox="flat6")
			img(data-src="img/flat6-8.webp")
	.flat7
		a(href="img/flat7-1.jpg" data-fancybox="flat7")
			img(data-src="img/flat7-1.jpg")
		a(href="img/flat7-2.jpg" data-fancybox="flat7")
			img(data-src="img/flat7-2.jpg")
		a(href="img/flat7-3.jpg" data-fancybox="flat7")
			img(data-src="img/flat7-3.jpg")
		a(href="img/flat7-4.jpg" data-fancybox="flat7")
			img(data-src="img/flat7-4.jpg")
		a(href="img/flat7-5.jpg" data-fancybox="flat7")
			img(data-src="img/flat7-5.jpg")
		a(href="img/flat7-6.jpg" data-fancybox="flat7")
			img(data-src="img/flat7-6.jpg")
		a(href="img/flat7-7.jpg" data-fancybox="flat7")
			img(data-src="img/flat7-7.jpg")
		a(href="img/flat7-8.jpg" data-fancybox="flat7")
			img(data-src="img/flat7-8.jpg")
		a(href="img/flat7-9.jpg" data-fancybox="flat7")
			img(data-src="img/flat7-9.jpg")
		a(href="img/flat7-10.jpg" data-fancybox="flat7")
			img(data-src="img/flat7-10.jpg")
		a(href="img/flat7-11.jpg" data-fancybox="flat7")
			img(data-src="img/flat7-11.jpg")
		a(href="img/flat7-12.jpg" data-fancybox="flat7")
			img(data-src="img/flat7-12.jpg")
	.flat8
		a(href="img/flat8-1.jpg" data-fancybox="flat8")
			img(data-src="img/flat8-1.jpg")
		a(href="img/flat8-2.jpg" data-fancybox="flat8")
			img(data-src="img/flat8-2.jpg")
		a(href="img/flat8-3.jpg" data-fancybox="flat8")
			img(data-src="img/flat8-3.jpg")
		a(href="img/flat8-4.jpg" data-fancybox="flat8")
			img(data-src="img/flat8-4.jpg")
		a(href="img/flat8-5.jpg" data-fancybox="flat8")
			img(data-src="img/flat8-5.jpg")
		a(href="img/flat8-6.jpg" data-fancybox="flat8")
			img(data-src="img/flat8-6.jpg")
		a(href="img/flat8-7.jpg" data-fancybox="flat8")
			img(data-src="img/flat8-7.jpg")
		a(href="img/flat8-8.jpg" data-fancybox="flat8")
			img(data-src="img/flat8-8.jpg")
		a(href="img/flat8-9.jpg" data-fancybox="flat8")
			img(data-src="img/flat8-9.jpg")
		a(href="img/flat8-10.jpg" data-fancybox="flat8")
			img(data-src="img/flat8-10.jpg")
	.flat9
		a(href="img/flat9-1.jpg" data-fancybox="flat9")
			img(data-src="img/flat9-1.jpg")
		a(href="img/flat9-2.jpg" data-fancybox="flat9")
			img(data-src="img/flat9-2.jpg")
		a(href="img/flat9-3.jpg" data-fancybox="flat9")
			img(data-src="img/flat9-3.jpg")
		a(href="img/flat9-4.jpg" data-fancybox="flat9")
			img(data-src="img/flat9-4.jpg")
		a(href="img/flat9-5.jpg" data-fancybox="flat9")
			img(data-src="img/flat9-5.jpg")
		a(href="img/flat9-6.jpg" data-fancybox="flat9")
			img(data-src="img/flat9-6.jpg")
		a(href="img/flat9-7.jpg" data-fancybox="flat9")
			img(data-src="img/flat9-7.jpg")
		a(href="img/flat9-8.jpg" data-fancybox="flat9")
			img(data-src="img/flat9-8.jpg")
		a(href="img/flat9-9.jpg" data-fancybox="flat9")
			img(data-src="img/flat9-9.jpg")
		a(href="img/flat9-10.jpg" data-fancybox="flat9")
			img(data-src="img/flat9-10.jpg")
		a(href="img/flat9-11.jpg" data-fancybox="flat9")
			img(data-src="img/flat9-11.jpg")
		a(href="img/flat9-12.jpg" data-fancybox="flat9")
			img(data-src="img/flat9-12.jpg")
		a(href="img/flat9-13.jpg" data-fancybox="flat9")
			img(data-src="img/flat9-13.jpg")
		a(href="img/flat9-14.jpg" data-fancybox="flat9")
			img(data-src="img/flat9-14.jpg")
	.flat12
		a(href="img/flat12-1.jpg" data-fancybox="flat12")
			img(data-src="img/flat12-1.jpg")
		a(href="img/flat12-2.jpg" data-fancybox="flat12")
			img(data-src="img/flat12-2.jpg")
		a(href="img/flat12-3.jpg" data-fancybox="flat12")
			img(data-src="img/flat12-3.jpg")
		a(href="img/flat12-4.jpg" data-fancybox="flat12")
			img(data-src="img/flat12-4.jpg")
		a(href="img/flat12-5.jpg" data-fancybox="flat12")
			img(data-src="img/flat12-5.jpg")
		a(href="img/flat12-6.jpg" data-fancybox="flat12")
			img(data-src="img/flat12-6.jpg")
		a(href="img/flat12-7.jpg" data-fancybox="flat12")
			img(data-src="img/flat12-7.jpg")
		a(href="img/flat12-8.jpg" data-fancybox="flat12")
			img(data-src="img/flat12-8.jpg")
		a(href="img/flat12-9.jpg" data-fancybox="flat12")
			img(data-src="img/flat12-9.jpg")
		a(href="img/flat12-10.jpg" data-fancybox="flat12")
			img(data-src="img/flat12-10.jpg")
		a(href="img/flat12-11.jpg" data-fancybox="flat12")
			img(data-src="img/flat12-11.jpg")
		a(href="img/flat12-12.jpg" data-fancybox="flat12")
			img(data-src="img/flat12-12.jpg")
		a(href="img/flat12-13.jpg" data-fancybox="flat12")
			img(data-src="img/flat12-13.jpg")
		a(href="img/flat12-14.jpg" data-fancybox="flat12")
			img(data-src="img/flat12-14.jpg")
		a(href="img/flat12-15.jpg" data-fancybox="flat12")
			img(data-src="img/flat12-15.jpg")
		a(href="img/flat12-16.jpg" data-fancybox="flat12")
			img(data-src="img/flat12-16.jpg")
		a(href="img/flat12-17.jpg" data-fancybox="flat12")
			img(data-src="img/flat12-17.jpg")
.overlay
				