.header
	.navbar
		img.navbar__logo(src="img/logo.png")
		img.navbar__logo--active.navbar__logo--inactive(src="img/logo--black.png")
		.navbar__btn
			span.navbar__btn-line
		.navbar__right.navbar__right--active
			img.navbar__logo.navbar__logo--mobile(src="img/logo.png")
			ul.navbar__nav
				li #[a.navbar__item(href="#we") О нас] 
				li #[a.navbar__item(href="#appartments") Наши номера] 
				li #[a.navbar__item(href="#cooperation") Партнёрам] 
				li #[a.navbar__item(href="#cities") О городе] 
				li #[a.navbar__item(href="#contacts") Контакты] 
			.navbar__barrier
			a(href="#").navbar__number +7-914-252-22-19
			.header__menu-close
	.container
		.row
			.col-lg-7.col-12
				h1.header__title Сеть домашних гостиниц в г.Мирном и г.Удачном (Якутия)
				h3.header__subtitle Номера квартирноого типа со всеми удобствами от 3000 руб/сутки.  Гостям предоставляется бесплатный трансфер от/до аэропорта.
				a(href="#").header__btn Узнать о свободных номерах
	.header__form
		.header__form-close
		h3.header__form-title Оставьте свои контактные данные для получения информации о свободных номерах
		input(type="text" placeholder="Ваше имя").brochure__field
		input(type="tel" placeholder="Ваш телефон").brochure__field
		button(type="submit").brochure__submit ОТПРАВИТЬ