.grid-slider
	.grid-slide
		.categories__main-post.grid-slide__relevant.post-image--marketing
			a(href="#").link-post
			.categories__main-post__img(style="background: url(../../img/travel-2.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--marketing(href="#") Marketing
			h2.relevant__head-title Try These Methods to Avoid Conflicts in the Working Space
			.block-info.block-info--light
				.block-info__author
					img.author__photo.author__photo--sm(src="../../img/author-1.jpg")
					span.block-info__name John Doelimen
				span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
				span.block-info__comments #[i.far.fa-comment-alt]5
	.grid-slide
		.categories__main-post.grid-slide__relevant.post-image--marketing
			a(href="#").link-post
			.categories__main-post__img(style="background: url(../../img/travel-3.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--marketing(href="#") Marketing
			h2.relevant__head-title Try These Methods to Avoid Conflicts in the Working Space
			.block-info.block-info--light
				.block-info__author
					img.author__photo.author__photo--sm(src="../../img/author-1.jpg")
					span.block-info__name John Doelimen
				span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
				span.block-info__comments #[i.far.fa-comment-alt]5
	.grid-slide
		.categories__main-post.grid-slide__relevant.post-image--marketing
			a(href="#").link-post
			.categories__main-post__img(style="background: url(../../img/travel-4.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--marketing(href="#") Marketing
			h2.relevant__head-title Try These Methods to Avoid Conflicts in the Working Space
			.block-info.block-info--light
				.block-info__author
					img.author__photo.author__photo--sm(src="../../img/author-1.jpg")
					span.block-info__name John Doelimen
				span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
				span.block-info__comments #[i.far.fa-comment-alt]5
	.grid-slide
		.categories__main-post.grid-slide__relevant.post-image--marketing
			a(href="#").link-post
			.categories__main-post__img(style="background: url(../../img/travel-1.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--marketing(href="#") Marketing
			h2.relevant__head-title Try These Methods to Avoid Conflicts in the Working Space
			.block-info.block-info--light
				.block-info__author
					img.author__photo.author__photo--sm(src="../../img/author-1.jpg")
					span.block-info__name John Doelimen
				span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
				span.block-info__comments #[i.far.fa-comment-alt]5
.block-posts
	.vertical-post
		a(href="#").link-post
		.vertical-post__img(style="background: url(../../img/design-4.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--small(href="#") #[i.fas.fa-star]
			a.tag.tag--design(href="#") Design
		.vertical-post__info
			h3.st-post__title Trending Events for Developers and Designers in New York
			.st-post__block-info.block-info
				.block-info__left
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
					span.block-info__time-to-read #[i.far.fa-clock]5 mins read
				span.block-info__comments #[i.far.fa-comment-alt]5
	.vertical-post
		a(href="#").link-post
		.vertical-post__img(style="background: url(../../img/design-4.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--design(href="#") Design
		.vertical-post__info
			h3.st-post__title Trending Events for Developers and Designers in New York
			.st-post__block-info.block-info
				.block-info__left
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
					span.block-info__time-to-read #[i.far.fa-clock]5 mins read
				span.block-info__comments #[i.far.fa-comment-alt]5
	.vertical-post
		a(href="#").link-post
		.vertical-post__img(style="background: url(../../img/design-4.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--small(href="#") #[i.fas.fa-image]
			a.tag.tag--design(href="#") Design
		.vertical-post__info
			h3.st-post__title Trending Events for Developers and Designers in New York
			.st-post__block-info.block-info
				.block-info__left
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
					span.block-info__time-to-read #[i.far.fa-clock]5 mins read
				span.block-info__comments #[i.far.fa-comment-alt]5	
	.vertical-post
		a(href="#").link-post
		.vertical-post__img(style="background: url(../../img/design-4.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--design(href="#") Design
		.vertical-post__info
			h3.st-post__title Trending Events for Developers and Designers in New York
			.st-post__block-info.block-info
				.block-info__left
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
					span.block-info__time-to-read #[i.far.fa-clock]5 mins read
				span.block-info__comments #[i.far.fa-comment-alt]5
	.vertical-post
		a(href="#").link-post
		.vertical-post__img(style="background: url(../../img/design-4.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--design(href="#") Design
		.vertical-post__info
			h3.st-post__title Trending Events for Developers and Designers in New York
			.st-post__block-info.block-info
				.block-info__left
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
					span.block-info__time-to-read #[i.far.fa-clock]5 mins read
				span.block-info__comments #[i.far.fa-comment-alt]5
	.vertical-post
		a(href="#").link-post
		.vertical-post__img(style="background: url(../../img/design-4.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--small(href="#") #[i.fas.fa-video]
			a.tag.tag--design(href="#") Design
		.vertical-post__info
			h3.st-post__title Trending Events for Developers and Designers in New York
			.st-post__block-info.block-info
				.block-info__left
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
					span.block-info__time-to-read #[i.far.fa-clock]5 mins read
				span.block-info__comments #[i.far.fa-comment-alt]5	
	.vertical-post
		a(href="#").link-post
		.vertical-post__img(style="background: url(../../img/design-4.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--design(href="#") Design
		.vertical-post__info
			h3.st-post__title Trending Events for Developers and Designers in New York
			.st-post__block-info.block-info
				.block-info__left
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
					span.block-info__time-to-read #[i.far.fa-clock]5 mins read
				span.block-info__comments #[i.far.fa-comment-alt]5
	.vertical-post
		a(href="#").link-post
		.vertical-post__img(style="background: url(../../img/design-4.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--small(href="#") #[i.fas.fa-star]
			a.tag.tag--design(href="#") Design
		.vertical-post__info
			h3.st-post__title Trending Events for Developers and Designers in New York
			.st-post__block-info.block-info
				.block-info__left
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
					span.block-info__time-to-read #[i.far.fa-clock]5 mins read
				span.block-info__comments #[i.far.fa-comment-alt]5
	.vertical-post
		a(href="#").link-post
		.vertical-post__img(style="background: url(../../img/design-4.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--design(href="#") Design
		.vertical-post__info
			h3.st-post__title Trending Events for Developers and Designers in New York
			.st-post__block-info.block-info
				.block-info__left
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
					span.block-info__time-to-read #[i.far.fa-clock]5 mins read
				span.block-info__comments #[i.far.fa-comment-alt]5	
.posts-load
	a(href="#").latest-posts__btn LOAD MORE 
.popular-categories
	.row
		.col-lg-3
			.popular-category.popular-category--travel(style="background: url(../../img/travel-4.jpg) 50% 50% no-repeat; background-size: cover;")
				a(href="#").link-post
				h3.popular-category__title Travel
				span.popular-category__count 45 posts
		.col-lg-3
			.popular-category.popular-category--gadgets(style="background: url(../../img/gadgets-2.jpg) 50% 50% no-repeat; background-size: cover;")
				a(href="#").link-post
				h3.popular-category__title Gadgets
				span.popular-category__count 12 posts
		.col-lg-3
			.popular-category.popular-category--vogue(style="background: url(../../img/vogue-4.jpg) 50% 50% no-repeat; background-size: cover;")
				a(href="#").link-post
				h3.popular-category__title Vogue
				span.popular-category__count 8 posts
		.col-lg-3
			.popular-category.popular-category--marketing(style="background: url(../../img/marketing-5.jpg) 50% 50% no-repeat; background-size: cover;")
				a(href="#").link-post
				h3.popular-category__title Marketing
				span.popular-category__count 25 posts
.subscribe
	h2.category__title.subscribe__title Sign up for our Newsletter and stay informed
	p To the best news from marketing, sport and many more
	form.subscribe__form
		input.subscribe__email.subscribe__email(type="email" placeholder="Enter your email here")
		button(type="submit").subscribe__btn.subscribe__submit Subscribe#[i.fab.fa-telegram-plane]

	