.row
	.col-lg-8
		.categories__main-post.blog--marketing
			a(href="#").link-post
			.categories__main-post__img(style="background: url(../../img/travel-2.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--marketing(href="#") Marketing
			h3.categories__main-post-title How to Work with Difficult Clients: Tips from Our Experts
			.block-info.block-info--white
				.block-info__left
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
					span.block-info__time-to-read #[i.far.fa-clock]5 mins read
				span.block-info__comments #[i.far.fa-comment-alt]5
		.st-posts
			.st-post
				a(href="#").link-post
				.st-post__img(style="background: url(../../img/travel-10.jpg) 50% 50% no-repeat; background-size: cover;")
					a.tag.tag--travel(href="#") Travel
				.st-post__info
					h3.st-post__title Trending Events for Developers and Designers in New York
					.st-post__block-info.block-info
						.block-info__left
							span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
							span.block-info__time-to-read #[i.far.fa-clock]5 mins read
						span.block-info__comments #[i.far.fa-comment-alt]5
					p Tempor orci eu lobortis elementum nibh. In ornare quam viverra orci sagittis eu volutpat odio. Ac turpis egestas integer eget.
			.st-post
				a(href="#").link-post
				.st-post__img(style="background: url(../../img/marketing-7.jpg) 50% 50% no-repeat; background-size: cover;")
					a.tag.tag--small(href="#") #[i.fas.fa-star]
					a.tag.tag--marketing(href="#") Marketing
				.st-post__info
					h3.st-post__title Trending Events for Developers and Designers in New York
					.st-post__block-info.block-info
						.block-info__left
							span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
							span.block-info__time-to-read #[i.far.fa-clock]5 mins read
						span.block-info__comments #[i.far.fa-comment-alt]5
					p Tempor orci eu lobortis elementum nibh. In ornare quam viverra orci sagittis eu volutpat odio. Ac turpis egestas integer eget.
			.st-post
				a(href="#").link-post
				.st-post__img(style="background: url(../../img/vogue-8.jpg) 50% 50% no-repeat; background-size: cover;")
					a.tag.tag--vogue(href="#") Vogue
				.st-post__info
					h3.st-post__title Trending Events for Developers and Designers in New York
					.st-post__block-info.block-info
						.block-info__left
							span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
							span.block-info__time-to-read #[i.far.fa-clock]5 mins read
						span.block-info__comments #[i.far.fa-comment-alt]5
					p Tempor orci eu lobortis elementum nibh. In ornare quam viverra orci sagittis eu volutpat odio. Ac turpis egestas integer eget.
			.st-post
				a(href="#").link-post
				.st-post__img(style="background: url(../../img/design-3.jpg) 50% 10% no-repeat; background-size: cover;")
					a.tag.tag--small(href="#") #[i.fas.fa-music]
					a.tag.tag--design(href="#") Design
				.st-post__info
					h3.st-post__title Trending Events for Developers and Designers in New York
					.st-post__block-info.block-info
						.block-info__left
							span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
							span.block-info__time-to-read #[i.far.fa-clock]5 mins read
						span.block-info__comments #[i.far.fa-comment-alt]5
					p Tempor orci eu lobortis elementum nibh. In ornare quam viverra orci sagittis eu volutpat odio. Ac turpis egestas integer eget.
			.st-post
				a(href="#").link-post
				.st-post__img(style="background: url(../../img/gadgets-5.jpg) 50% 50% no-repeat; background-size: cover;")
					a.tag.tag--gadgets(href="#") Gadgets
				.st-post__info
					h3.st-post__title Trending Events for Developers and Designers in New York
					.st-post__block-info.block-info
						.block-info__left
							span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
							span.block-info__time-to-read #[i.far.fa-clock]5 mins read
						span.block-info__comments #[i.far.fa-comment-alt]5
					p Tempor orci eu lobortis elementum nibh. In ornare quam viverra orci sagittis eu volutpat odio. Ac turpis egestas integer eget.
			.st-post
				a(href="#").link-post
				.st-post__img(style="background: url(../../img/travel-3.jpg) 50% 50% no-repeat; background-size: cover;")
					a.tag.tag--small(href="#") #[i.fas.fa-video]
					a.tag.tag--marketing(href="#") Marketing
				.st-post__info
					h3.st-post__title Trending Events for Developers and Designers in New York
					.st-post__block-info.block-info
						.block-info__left
							span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
							span.block-info__time-to-read #[i.far.fa-clock]5 mins read
						span.block-info__comments #[i.far.fa-comment-alt]5
					p Tempor orci eu lobortis elementum nibh. In ornare quam viverra orci sagittis eu volutpat odio. Ac turpis egestas integer eget.
			.st-post
				a(href="#").link-post
				.st-post__img(style="background: url(../../img/vogue-7.jpg) 50% 50% no-repeat; background-size: cover;")
					a.tag.tag--vogue(href="#") Vogue
				.st-post__info
					h3.st-post__title Trending Events for Developers and Designers in New York
					.st-post__block-info.block-info
						.block-info__left
							span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
							span.block-info__time-to-read #[i.far.fa-clock]5 mins read
						span.block-info__comments #[i.far.fa-comment-alt]5
					p Tempor orci eu lobortis elementum nibh. In ornare quam viverra orci sagittis eu volutpat odio. Ac turpis egestas integer eget.
			.st-post
				a(href="#").link-post
				.st-post__img(style="background: url(../../img/gadgets-6.jpg) 50% 50% no-repeat; background-size: cover;")
					a.tag.tag--gadgets(href="#") Gadgets
				.st-post__info
					h3.st-post__title Trending Events for Developers and Designers in New York
					.st-post__block-info.block-info
						.block-info__left
							span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
							span.block-info__time-to-read #[i.far.fa-clock]5 mins read
						span.block-info__comments #[i.far.fa-comment-alt]5
					p Tempor orci eu lobortis elementum nibh. In ornare quam viverra orci sagittis eu volutpat odio. Ac turpis egestas integer eget.
			.st-post
				a(href="#").link-post
				.st-post__img(style="background: url(../../img/travel-6.jpg) 50% 50% no-repeat; background-size: cover;")
					a.tag.tag--small(href="#") #[i.fas.fa-image]
					a.tag.tag--travel(href="#") Travel
				.st-post__info
					h3.st-post__title Trending Events for Developers and Designers in New York
					.st-post__block-info.block-info
						.block-info__left
							span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
							span.block-info__time-to-read #[i.far.fa-clock]5 mins read
						span.block-info__comments #[i.far.fa-comment-alt]5
					p Tempor orci eu lobortis elementum nibh. In ornare quam viverra orci sagittis eu volutpat odio. Ac turpis egestas integer eget.
			.st-post
				a(href="#").link-post
				.st-post__img(style="background: url(../../img/vogue-2.jpg) 50% 50% no-repeat; background-size: cover;")
					a.tag.tag--vogue(href="#") Vogue
				.st-post__info
					h3.st-post__title Trending Events for Developers and Designers in New York
					.st-post__block-info.block-info
						.block-info__left
							span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
							span.block-info__time-to-read #[i.far.fa-clock]5 mins read
						span.block-info__comments #[i.far.fa-comment-alt]5
					p Tempor orci eu lobortis elementum nibh. In ornare quam viverra orci sagittis eu volutpat odio. Ac turpis egestas integer eget.
			.st-post
				a(href="#").link-post
				.st-post__img(style="background: url(../../img/marketing-8.jpg) 50% 50% no-repeat; background-size: cover;")
					a.tag.tag--marketing(href="#") Marketing
				.st-post__info
					h3.st-post__title Trending Events for Developers and Designers in New York
					.st-post__block-info.block-info
						.block-info__left
							span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
							span.block-info__time-to-read #[i.far.fa-clock]5 mins read
						span.block-info__comments #[i.far.fa-comment-alt]5
					p Tempor orci eu lobortis elementum nibh. In ornare quam viverra orci sagittis eu volutpat odio. Ac turpis egestas integer eget.
			a(href="#").latest-posts__btn LOAD MORE 
	.col-lg-4
		.sidebar
			.sidebar__inner
				.social-side
					.socials
						.social
							a(href="#").socials__btn.social__btn--fb #[i.fab.fa-facebook-f]
							span.social__info 25K
						.social
							a(href="#").socials__btn.social__btn--tw #[i.fab.fa-twitter]
							span.social__info 489
						.social
							a(href="#").socials__btn.social__btn--ig #[i.fab.fa-instagram]
							span.social__info 1.2K
						.social
							a(href="#").socials__btn.social__btn--dr #[i.fab.fa-dribbble]	
							span.social__info 240
						.social
							a(href="#").socials__btn.social__btn--vk #[i.fab.fa-vk]
							span.social__info 2.8K
				.featured-side
					h2.category__title Featured Posts #[i.fas.fa-star]	
					.categories__line
					.mini-posts
						.mini-post
							a(href="#").link-post
							.mini-post__img(style="background: url(../../img/travel-1.jpg) 50% 50% no-repeat;")
							.mini-post__info.mini-post__categories.mini-post__categories--travel
								h3.mini-post__title Trending Events for Developers and Designers in New York
								.block-info
									.block-info__left
										span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
						.mini-post
							a(href="#").link-post
							.mini-post__img(style="background: url(../../img/marketing-1.jpg) 50% 50% no-repeat;")
							.mini-post__info.mini-post__categories.mini-post__categories--marketing
								h3.mini-post__title Trending Events for Developers and Designers in New York
								.block-info
									.block-info__left
										span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
						.mini-post
							a(href="#").link-post
							.mini-post__img(style="background: url(../../img/vogue-1.jpg) 50% 50% no-repeat;")
							.mini-post__info.mini-post__categories.mini-post__categories--design
								h3.mini-post__title Trending Events for Developers and Designers in New York
								.block-info
									.block-info__left
										span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
						.mini-post
							a(href="#").link-post
							.mini-post__img(style="background: url(../../img/travel-1.jpg) 50% 50% no-repeat;")
							.mini-post__info.mini-post__categories.mini-post__categories--gadgets
								h3.mini-post__title Trending Events for Developers and Designers in New York
								.block-info
									.block-info__left
										span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
				.categories-side
					h2.category__title Categories #[i.fas.fa-folder]	
					.categories__line
					.categories__name
						.category__name.category__name--marketing
							a(href="#").link-post
							span Marketing
							span.category__count 25
						.category__name.category__name--travel
							a(href="#").link-post
							span Travel
							span.category__count 45
						.category__name.category__name--vogue
							a(href="#").link-post
							span Vogue
							span.category__count 8
						.category__name.category__name--gadgets
							a(href="#").link-post
							span Gadgets
							span.category__count 12
						.category__name.category__name--design
							a(href="#").link-post
							span Design
							span.category__count 34
				.popular-side
					.popular-slider
						.slide-wrapper
							.popular-slide(style="background: url(../../img/marketing-2.jpg) 50% 50% no-repeat; background-size: cover;")
								a(href="#").link-post
								a.tag.tag--marketing(href="#") Marketing
								div
								h3.popular-slide__title Trending Events for Developers and Designers in New York
								.st-post__block-info.block-info
									.block-info__left
										span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
										span.block-info__time-to-read #[i.far.fa-clock]5 mins read
									span.block-info__comments #[i.far.fa-comment-alt]5
						.slide-wrapper
							.popular-slide(style="background: url(../../img/marketing-2.jpg) 50% 50% no-repeat; background-size: cover;")
								a(href="#").link-post
								a.tag.tag--marketing(href="#") Marketing
								div
								h3.popular-slide__title Trending Events for Developers and Designers in New York
								.st-post__block-info.block-info
									.block-info__left
										span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
										span.block-info__time-to-read #[i.far.fa-clock]5 mins read
									span.block-info__comments #[i.far.fa-comment-alt]5
						.slide-wrapper
							.popular-slide(style="background: url(../../img/marketing-2.jpg) 50% 50% no-repeat; background-size: cover;")
								a(href="#").link-post
								a.tag.tag--marketing(href="#") Marketing
								div
								h3.popular-slide__title Trending Events for Developers and Designers in New York
								.st-post__block-info.block-info
									.block-info__left
										span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
										span.block-info__time-to-read #[i.far.fa-clock]5 mins read
									span.block-info__comments #[i.far.fa-comment-alt]5
.popular-categories
	.row
		.col-lg-3
			.popular-category.popular-category--travel(style="background: url(../../img/travel-4.jpg) 50% 50% no-repeat; background-size: cover;")
				a(href="#").link-post
				h3.popular-category__title Travel
				span.popular-category__count 45 posts
		.col-lg-3
			.popular-category.popular-category--gadgets(style="background: url(../../img/gadgets-2.jpg) 50% 50% no-repeat; background-size: cover;")
				a(href="#").link-post
				h3.popular-category__title Gadgets
				span.popular-category__count 12 posts
		.col-lg-3
			.popular-category.popular-category--vogue(style="background: url(../../img/vogue-4.jpg) 50% 50% no-repeat; background-size: cover;")
				a(href="#").link-post
				h3.popular-category__title Vogue
				span.popular-category__count 8 posts
		.col-lg-3
			.popular-category.popular-category--marketing(style="background: url(../../img/marketing-5.jpg) 50% 50% no-repeat; background-size: cover;")
				a(href="#").link-post
				h3.popular-category__title Marketing
				span.popular-category__count 25 posts
.subscribe
	h2.category__title.subscribe__title Sign up for our Newsletter and stay informed
	p To the best news from marketing, sport and many more
	form.subscribe__form
		input.subscribe__email.subscribe__email(type="email" placeholder="Enter your email here")
		button(type="submit").subscribe__btn.subscribe__submit Subscribe#[i.fab.fa-telegram-plane]

	