.article
	margin-top: 110px
	&:first-child
		margin-top: 0

.article__title
	font-size: 36px
	font-weight: 900
	margin-bottom: 20px

.article__wrapper
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between	

.article__category
	margin-right: 15px
	color: #5486b1
	text-transform: uppercase

.article__date
	position: relative
	margin-left: 22px	
	color: #858585
	text-transform: uppercase
	&:before
		position: absolute
		content: "/"
		left: -22px

.article__image
	margin-top: 25px

.article__text
	margin: 20px auto 40px
	line-height: 40px

.social__link--fb
	color: #858585
	margin-right: 20px	

.social__link--tw
	color: #858585

.article__reference
	position: relative
	color: #000
	text-transform: uppercase

.article__arrow
	position: absolute
	right: -30px
	top: 42%
	display: inline-block
	width: 13px
	height: 2px
	background: #b3b3b3
	&:after, &:before 
		content: ""
		position: absolute
		right: -2px
		top: 2px
		display: inline-block
		width: 7px
		height: 2px
		background: #b3b3b3
	&:after
		transform: rotate(-45deg)
	&:before
		top: -2px
		transform: rotate(45deg)

.article__comments
	color: #858585

.article-page
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	margin-top: 80px
	margin-bottom: 90px
	
.article-page__item
	font-size: 18px
	line-height: 48px
	color: #858585
	text-transform: uppercase
		
.article-page__numeration--prev, .article-page__numeration--next
	position: relative
	&:after
		content: ""
		position: absolute
		display: inline-block
		width: 30px
		height: 2px
		background: #e5e5e5
		right: -60px
		top: 50%

.article-page__numeration--next:after
	left: -60px

.article-page__item--active
	margin: 0 55px
	color: #000
	

.profile-sidebar
	margin-left: -30px

.profile-sidebar__image
	margin-bottom: 45px

.profile-sidebar__info
	line-height: 30px

.profile-sidebar__more-detailed
	position: relative
	color: #000
	text-transform: uppercase

.categories-sidebar	
	margin-left: -30px
	
.sidebar__title
	margin-top: 100px
	margin-bottom: 50px
	font-size: 18px
	font-weight: 500
	text-transform: uppercase
	&:first-child
		margin-bottom: 40px

.categories-sidebar__item
	margin-top: 20px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	list-style-type: none
	border-bottom: 2px solid #f3f3f3

.categories-sidebar__reference 
	text-transform: uppercase
	margin: 10px 0
	color: #000

.categories-sidebar__sum
	margin: 10px 0
	
.soc-net
	margin-left: -30px

.soc-net__items
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between

.soc-net__item
	width: 25px
	height: 25px
	border-radius: 50%
	
	
.soc-net__item--fb
	background: url("../img/soc-net--fb.png") 50% 50%

.soc-net__item--tw
	background: url("../img/soc-net--tw.png") 50% 50%

.soc-net__item--ig
	background: url("../img/soc-net--ig.png") 50% 50%

.soc-net__item--dr
	background: url("../img/soc-net--dr.png") 50% 50%

.soc-net__item--be
	background: url("../img/soc-net--be.png") 50% 50%

.soc-net__item--pt
	background: url("../img/soc-net--pt.png") 50% 50%

.tags-sidebar
	margin-left: -30px

.tags-sidebar__items
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-wrap: wrap
	margin-left: -15px
	
.tags-sidebar__item
	margin: 15px
	padding: 0 20px
	line-height: 34px
	color: #000
	background: #f3f3f3

.popular-sidebar
	margin-left: -30px

.popular-article__image
	margin-bottom: 30px

.popular-article__title
	margin-top: 25px
	margin-bottom: 40px
	font-size: 14px
	line-height: 32px
	font-weight: 700
	letter-spacing: 1px

.subscription-sidebar
	margin-left: -30px
	form
		position: relative

.subscription-sidebar__email
	margin-bottom: 30px
	padding-right: 45px
	position: relative

.subscrition-sidebar__email-icon
	display: block
	position: absolute
	right: 10px
	top: 10px
	width: 24px
	height: 18px
	background: url(../img/icon-email--small.png) 50% 50% no-repeat

.subscription-sidebar__btn
	width: 100%
	height: 44px
	background: #5486b1
	color: #fff
	border: none
	cursor: pointer

.subscription
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-around
	align-items: center
	height: 250px
	background: #5486b1
	margin-bottom: 100px
	form
		width: 35%
		position: relative

.subscription__title
	width: 35%
	color: #fff
	font-size: 36px
	line-height: 60px
	font-weight: 900

.subscription__email
	position: relative
	padding-left: 0
	padding-right: 50px
	height: 60px
	background: #5486b1
	border: none
	border-bottom: 2px solid #aac3d8
	border-radius: 0
	color: #fff
	&::-moz-placeholder 
		color: #fff
	&::-webkit-input-placeholder 
		color: #fff
	&:-ms-input-placeholder
		color: #fff
	&::-ms-input-placeholder
		color: #fff
	&::placeholder
    color: #fff
	&:focus
		background: #5486b1

.subscrition__email-icon
	display: block
	position: absolute
	right: 0px
	top: 25%
	width: 32px
	height: 34px
	background: url(../img/icon-email.png) 50% 50% no-repeat

.instagram-feed__title 
	margin-bottom: 50px
	font-size: 18px
	line-height: 18px
	text-transform: uppercase
	font-weight: 500

instagram-feed__login
	margin-bottom: 45px
	font-size: 24px
	font-weight: 500

.scroll-top	
	position: fixed
	top: 0
	right: 0
	opacity: 1
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	justify-content: center
	width: 50px
	height: 100%
	cursor: pointer
	transition: opacity 1s linear, top 1s linear;

.scroll-top--hidden
	top: 600px
	opacity: 0
	
.scroll-top__text
	text-transform: uppercase
	position: relative
	writing-mode: vertical-rl;
	-webkit-transform: rotate(180deg)
	-moz-transform: rotate(180deg)
	-ms-transform: rotate(180deg)
	transform: rotate(180deg)
	color: #858585
	&:after
		position: absolute
		content: ""
		display: block
		right: 10px
		bottom: -50px
		width: 2px
		height: 30px
		background: #e5e5e5