.header 
	display: flex
	margin: 0 auto

.header__left
	width: 59.6%
	display: flex
	
	flex-direction: column
	align-items: flex-end

.navbar 
	width: 730px
	padding: 40px 0

.navbar-brand
	font-size: 30px
	color: #000
	font-weight: 700
	letter-spacing: 2px

.navbar__btn
	position: relative
	width: 20px
	height: 22px
	background: url(../img/icon-search.png) 50% 50% no-repeat
	border: none

.navbar__search
	position: absolute
	left: -220px
	top: -7px	

.navbar__search--active.navbar__search
	display: none

.header__article
	margin-top: 200px
	max-width: 730px

.header__article-title 
	margin-bottom: 25px
	font-size: 42px
	font-weight: 900
	letter-spacing: 1px

.header__article-category
	margin-right: 15px
	color: #5486b1
	text-transform: uppercase

.header__article-date
	position: relative
	margin-left: 22px
	color: #858585
	text-transform: uppercase
	&:before
		position: absolute
		content: "/"
		left: -22px

.header__article-text
	margin: 20px auto 230px
	line-height: 40px

.header__reference	
	align-self: stretch
	height: 130px
	background: #5486b1
	display: flex
	justify-content: flex-end
	
.header__sliders
	width: 40.4%

.header__slide
	height: 100%

.header__slide-image
	width: 100%
	height: 100%
	background: url("../img/header-right.jpg") 50% 50% no-repeat

.header__panel
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	margin-bottom: 50px

.header__reference
	width: 59.6%
	display: flex	
	flex-direction: column
	align-items: flex-end

.header__wrapper	
	width: 730px
	height: 130px

.header__article-reference
	display: block
	position: relative
	line-height: 130px
	color: #fff	
	text-transform: uppercase
	

.header__article-arrow
	position: absolute
	right: 100px
	top: 49%
	display: inline-block
	width: 30px
	height: 2px
	background: #fff
	&:after, &:before 
		content: ""
		position: absolute
		right: -2px
		top: 5px
		display: inline-block
		width: 15px
		height: 2px
		background: #fff
	&:after
		transform: rotate(-45deg)
	&:before
		top: -5px
		transform: rotate(45deg)
		
	

.header__slide-number
	height: 130px
	width: 40.4%
	background: #f8f8f8
	
