doctype html
head
	title Title
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
	link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
	link(href="css/libs/slick.css" rel="stylesheet")
	link(href="css/libs/slick-theme.css" rel="stylesheet")
	link(href="css/libs/jquery.mCustomScrollbar.min.css" rel="stylesheet")
	link(href="css/main.min.css" rel="stylesheet")
	
body
	include includes/_header.pug
	.container
		include includes/_blog.pug
	include includes/_footer.pug
	script(src="https://code.jquery.com/jquery-3.3.1.min.js")
	script(src="js/libs/slick.js")
	script(src="js/libs/jquery.mCustomScrollbar.concat.min.js")
	script(src="js/libs/jquery.sticky-sidebar.min.js")
	script(src="js/libs/masonry.pkgd.min.js")
	script(src="js/main.js" defer)