.row
	.col-lg-8
		.post
			img.post__img(src="../../img/gadgets-3.jpg")
			h1.post__title Try These Methods to Avoid Conflicts in the Working Space
			.post__info.block-info
				.block-info__author.post__info-author
					img.author__photo.author__photo--sm(src="../../img/author-1.jpg")
					span John Doelimen
					span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018	
				a.tag.tag--gadgets.tag--posts(href="#") Gadgets
			.post__text
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mauris in aliquam sem fringilla ut morbi tincidunt. Viverra aliquet eget sit amet tellus cras adipiscing. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Leo vel orci porta non pulvinar. Nunc eget lorem dolor sed. Mauris in aliquam sem fringilla. Viverra adipiscing at in tellus integer feugiat. Ut tellus elementum sagittis vitae et leo. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Consectetur purus ut faucibus pulvinar elementum integer enim neque volutpat. A diam sollicitudin tempor id eu nisl. Blandit libero volutpat sed cras ornare arcu dui. Cum sociis natoque penatibus et magnis dis parturient montes nascetur. Orci a scelerisque purus semper eget duis at tellus. Ac auctor augue mauris augue neque. Condimentum lacinia quis vel eros donec ac odio tempor. Diam ut venenatis tellus in metus vulputate eu scelerisque. Vehicula ipsum a arcu cursus vitae congue mauris. In nulla posuere sollicitudin aliquam ultrices.
				p Et malesuada fames ac turpis egestas integer eget. Sem et tortor consequat id porta. Elementum sagittis vitae et leo duis ut. Magna fringilla urna porttitor rhoncus dolor. Amet mattis vulputate enim nulla aliquet porttitor lacus luctus. Parturient montes nascetur ridiculus mus mauris vitae ultricies leo. Id semper risus in hendrerit gravida rutrum quisque non tellus. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien. Tristique magna sit amet purus. Vestibulum lorem sed risus ultricies tristique nulla aliquet. Sed arcu non odio euismod. Amet dictum sit amet justo donec enim. Imperdiet proin fermentum leo vel orci porta non pulvinar. Phasellus vestibulum lorem sed risus ultricies tristique nulla. Potenti nullam ac tortor vitae purus faucibus. Dolor purus non enim praesent elementum facilisis leo. In tellus integer feugiat scelerisque varius. Eu consequat ac felis donec et.
				p Sit amet porttitor eget dolor morbi non arcu. Vulputate mi sit amet mauris. Mauris pharetra et ultrices neque ornare aenean. Quis commodo odio aenean sed adipiscing diam donec adipiscing tristique. Lacinia quis vel eros donec ac. Pulvinar mattis nunc sed blandit libero volutpat sed cras ornare. Pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum odio. Enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit. Felis imperdiet proin fermentum leo. Odio pellentesque diam volutpat commodo sed.
				p Sodales ut etiam sit amet. Pretium vulputate sapien nec sagittis aliquam. Consequat ac felis donec et odio. Mattis molestie a iaculis at erat pellentesque. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci. Ullamcorper malesuada proin libero nunc consequat interdum varius. Dictum non consectetur a erat nam at lectus urna duis. At in tellus integer feugiat scelerisque varius morbi enim. Consequat mauris nunc congue nisi vitae suscipit tellus. Morbi tristique senectus et netus et malesuada fames ac. Felis donec et odio pellentesque diam volutpat. Egestas dui id ornare arcu odio. Varius vel pharetra vel turpis nunc eget lorem dolor sed. Iaculis nunc sed augue lacus viverra vitae congue.
				p Magna fermentum iaculis eu non diam phasellus vestibulum lorem. Duis ultricies lacus sed turpis tincidunt id aliquet risus feugiat. Sollicitudin tempor id eu nisl nunc mi ipsum. Sem integer vitae justo eget magna fermentum iaculis eu. Ornare suspendisse sed nisi lacus sed. Aliquam id diam maecenas ultricies mi. Proin sagittis nisl rhoncus mattis rhoncus. Dolor sed viverra ipsum nunc aliquet bibendum. Ac odio tempor orci dapibus ultrices in iaculis nunc sed. Donec massa sapien faucibus et molestie ac feugiat sed. Nunc congue nisi vitae suscipit tellus mauris a. Tortor dignissim convallis aenean et. Gravida neque convallis a cras semper auctor neque. Tristique magna sit amet purus gravida. Aliquam nulla facilisi cras fermentum odio. Scelerisque viverra mauris in aliquam. Malesuada fames ac turpis egestas sed tempus. Senectus et netus et malesuada fames ac turpis. Vestibulum lorem sed risus ultricies tristique nulla.
				.post__socials
					a(href="#").post__social.post__social--fb #[i.fab.fa-facebook-f]
					a(href="#").post__social.post__social--tw #[i.fab.fa-twitter]
					a(href="#").post__social.post__social--dr #[i.fab.fa-dribbble]
					a(href="#").post__social.post__social--other #[i.fas.fa-ellipsis-h]
			.block-brief-info
				.tags
					a(href="#").tag__topic Inspiration
					a(href="#").tag__topic Motivation
					a(href="#").tag__topic Photo
				.block-info.post__views
					span.post__view.block-info__comments #[i.far.fa-comment-alt]5
					span.post__view.block-info__views #[i.far.fa-eye]275
					span.post__view.block-info__likes #[i.far.fa-heart]7
					span.post__view.block-info__share #[i.fas.fa-share-alt]Share
			.author
				img.author__photo(src="../../img/author-1.jpg")
				.author__info
					h4.author__name John Doelimen
					p.author__desc Mauris pharetra et ultrices neque ornare aenean. Quis commodo odio aenean sed adipiscing diam donec adipiscing tristique. Lacinia quis vel eros donec ac. Pulvinar mattis nunc sed blandit libero volutpat sed cras ornare.
				.author__socails
					a(href="#").author__social #[i.fab.fa-facebook-f]
					a(href="#").author__social #[i.fab.fa-twitter]
					a(href="#").author__social #[i.fab.fa-instagram]
					a(href="#").author__social #[i.fab.fa-dribbble]
			.post__neighbors
				.post__neighbor.mini-post
					a(href="#").link-post
					.mini-post__img(style="background: url(../../img/travel-1.jpg) 50% 50% no-repeat;")
					.mini-post__info.post__neighbor-info
						span.post__neighbor-next Previous Post
						h3.mini-post__title Trending Events for Developers and Designers in New York
				.post__neighbor.post__neighbor--next.mini-post
					a(href="#").link-post
					.mini-post__info.mini-post__info--next.post__neighbor-info
						span.post__neighbor-next Next Post
						h3.mini-post__title Trending Events for Developers and Designers in New York
					.mini-post__img(style="background: url(../../img/marketing-1.jpg) 50% 50% no-repeat;")
			h2.category__title Related Posts #[i.fas.fa-bookmark]
			.block-posts.block-posts--2-columns.block-posts--mb-50
				.vertical-post
					a(href="#").link-post
					.vertical-post__img(style="background: url(../../img/design-4.jpg) 50% 50% no-repeat; background-size: cover;")
						a.tag.tag--small(href="#") #[i.fas.fa-star]
						a.tag.tag--design(href="#") Design
					.vertical-post__info
						h3.st-post__title Trending Events for Developers and Designers in New York
						.st-post__block-info.block-info
							.block-info__left
								span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
								span.block-info__time-to-read #[i.far.fa-clock]5 mins read
							span.block-info__comments #[i.far.fa-comment-alt]5
				.vertical-post
					a(href="#").link-post
					.vertical-post__img(style="background: url(../../img/design-4.jpg) 50% 50% no-repeat; background-size: cover;")
						a.tag.tag--design(href="#") Design
					.vertical-post__info
						h3.st-post__title Trending Events for Developers and Designers in New York
						.st-post__block-info.block-info
							.block-info__left
								span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
								span.block-info__time-to-read #[i.far.fa-clock]5 mins read
							span.block-info__comments #[i.far.fa-comment-alt]5
				.vertical-post
					a(href="#").link-post
					.vertical-post__img(style="background: url(../../img/design-4.jpg) 50% 50% no-repeat; background-size: cover;")
						a.tag.tag--small(href="#") #[i.fas.fa-image]
						a.tag.tag--design(href="#") Design
					.vertical-post__info
						h3.st-post__title Trending Events for Developers and Designers in New York
						.st-post__block-info.block-info
							.block-info__left
								span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
								span.block-info__time-to-read #[i.far.fa-clock]5 mins read
							span.block-info__comments #[i.far.fa-comment-alt]5	
				.vertical-post
					a(href="#").link-post
					.vertical-post__img(style="background: url(../../img/design-4.jpg) 50% 50% no-repeat; background-size: cover;")
						a.tag.tag--design(href="#") Design
					.vertical-post__info
						h3.st-post__title Trending Events for Developers and Designers in New York
						.st-post__block-info.block-info
							.block-info__left
								span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
								span.block-info__time-to-read #[i.far.fa-clock]5 mins read
							span.block-info__comments #[i.far.fa-comment-alt]5
			h2.category__title 5 Comments #[i.fas.fa-comment-alt]
			.post__comments
				.post__comment
					.comment
						img.author__photo.author__photo--md(src="../../img/author-1.jpg")
						.comment__info
							h4.comment__author John Doeliman
							span.comment-info__date #[i.fas.fa-calendar-alt]October 25, 2018 at 12:36 pm
							p Mauris pharetra et ultrices neque ornare aenean. Quis commodo odio aenean sed adipiscing diam donec adipiscing tristique. Lacinia quis vel eros donec ac. Pulvinar mattis nunc sed blandit libero volutpat sed cras ornare.
						a(href="#").tag__topic.comment__reply Reply
				.post__comment
					.comment
						img.author__photo.author__photo--md(src="../../img/author-1.jpg")
						.comment__info
							h4.comment__author John Doeliman	
							span.comment-info__date #[i.fas.fa-calendar-alt]October 25, 2018 at 12:36 pm
							p Mauris pharetra et ultrices neque ornare aenean. Quis commodo odio aenean sed adipiscing diam donec adipiscing tristique. Lacinia quis vel eros donec ac. Pulvinar mattis nunc sed blandit libero volutpat sed cras ornare.
						a(href="#").tag__topic.comment__reply Reply
					.post__comment
						.comment
							img.author__photo.author__photo--md(src="../../img/author-1.jpg")
							.comment__info
								h4.comment__author John Doeliman
								span.comment-info__date #[i.fas.fa-calendar-alt]October 25, 2018 at 12:36 pm
								p Mauris pharetra et ultrices neque ornare aenean. Quis commodo odio aenean sed adipiscing diam donec adipiscing tristique. Lacinia quis vel eros donec ac. Pulvinar mattis nunc sed blandit libero volutpat sed cras ornare.
							a(href="#").tag__topic.comment__reply Reply
						.post__comment
							.comment
								img.author__photo.author__photo--md(src="../../img/author-1.jpg")
								.comment__info
									h4.comment__author John Doeliman
									span.comment-info__date #[i.fas.fa-calendar-alt]October 25, 2018 at 12:36 pm
									p Mauris pharetra et ultrices neque ornare aenean. Quis commodo odio aenean sed adipiscing diam donec adipiscing tristique. Lacinia quis vel eros donec ac. Pulvinar mattis nunc sed blandit libero volutpat sed cras ornare.
								a(href="#").tag__topic.comment__reply Reply
				.post__comment
					.comment
						img.author__photo.author__photo--md(src="../../img/author-1.jpg")
						.comment__info
							h4.comment__author John Doeliman
							span.comment-info__date #[i.fas.fa-calendar-alt]October 25, 2018 at 12:36 pm
							p Mauris pharetra et ultrices neque ornare aenean. Quis commodo odio aenean sed adipiscing diam donec adipiscing tristique. Lacinia quis vel eros donec ac. Pulvinar mattis nunc sed blandit libero volutpat sed cras ornare.
						a(href="#").tag__topic.comment__reply Reply
			h2.category__title Leave a Comment #[i.far.fa-comment-alt]
			.leave-comment
				form
					textarea.leave-comment__field.leave-comment__text(placeholder="Comment*")
					.leave-comment__fields
						input.leave-comment__field(type="text" placeholder="Your name*")
						input.leave-comment__field(type="email" placeholder="Your Email*")
						input.leave-comment__field(type="text" placeholder="Website*")
					.leave-comment__submit
						button.leave-comment__btn(type="submit") Post comment
						span.leave-comment__required Your email address will not be published. Required fields are marked *
	.col-lg-4
		.sidebar
			.sidebar__inner
				.social-side
					.socials
						.social
							a(href="#").socials__btn.social__btn--fb #[i.fab.fa-facebook-f]
							span.social__info 25K
						.social
							a(href="#").socials__btn.social__btn--tw #[i.fab.fa-twitter]
							span.social__info 489
						.social
							a(href="#").socials__btn.social__btn--ig #[i.fab.fa-instagram]
							span.social__info 1.2K
						.social
							a(href="#").socials__btn.social__btn--dr #[i.fab.fa-dribbble]	
							span.social__info 240
						.social
							a(href="#").socials__btn.social__btn--vk #[i.fab.fa-vk]
							span.social__info 2.8K
				.featured-side
					h2.category__title Featured Posts #[i.fas.fa-star]	
					.categories__line
					.mini-posts
						.mini-post
							a(href="#").link-post
							.mini-post__img(style="background: url(../../img/travel-1.jpg) 50% 50% no-repeat;")
							.mini-post__info.mini-post__categories.mini-post__categories--travel
								h3.mini-post__title Trending Events for Developers and Designers in New York
								.block-info
									.block-info__left
										span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
						.mini-post
							a(href="#").link-post
							.mini-post__img(style="background: url(../../img/marketing-1.jpg) 50% 50% no-repeat;")
							.mini-post__info.mini-post__categories.mini-post__categories--marketing
								h3.mini-post__title Trending Events for Developers and Designers in New York
								.block-info
									.block-info__left
										span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
						.mini-post
							a(href="#").link-post
							.mini-post__img(style="background: url(../../img/vogue-1.jpg) 50% 50% no-repeat;")
							.mini-post__info.mini-post__categories.mini-post__categories--design
								h3.mini-post__title Trending Events for Developers and Designers in New York
								.block-info
									.block-info__left
										span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
						.mini-post
							a(href="#").link-post
							.mini-post__img(style="background: url(../../img/travel-1.jpg) 50% 50% no-repeat;")
							.mini-post__info.mini-post__categories.mini-post__categories--gadgets
								h3.mini-post__title Trending Events for Developers and Designers in New York
								.block-info
									.block-info__left
										span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
				.categories-side
					h2.category__title Categories #[i.fas.fa-folder]	
					.categories__line
					.categories__name
						.category__name.category__name--marketing
							a(href="#").link-post
							span Marketing
							span.category__count 25
						.category__name.category__name--travel
							a(href="#").link-post
							span Travel
							span.category__count 45
						.category__name.category__name--vogue
							a(href="#").link-post
							span Vogue
							span.category__count 8
						.category__name.category__name--gadgets
							a(href="#").link-post
							span Gadgets
							span.category__count 12
						.category__name.category__name--design
							a(href="#").link-post
							span Design
							span.category__count 34
				.popular-side
					.popular-slider
						.slide-wrapper
							.popular-slide(style="background: url(../../img/marketing-2.jpg) 50% 50% no-repeat; background-size: cover;")
								a(href="#").link-post
								a.tag.tag--marketing(href="#") Marketing
								div
								h3.popular-slide__title Trending Events for Developers and Designers in New York
								.st-post__block-info.block-info
									.block-info__left
										span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
										span.block-info__time-to-read #[i.far.fa-clock]5 mins read
									span.block-info__comments #[i.far.fa-comment-alt]5
						.slide-wrapper
							.popular-slide(style="background: url(../../img/marketing-2.jpg) 50% 50% no-repeat; background-size: cover;")
								a(href="#").link-post
								a.tag.tag--marketing(href="#") Marketing
								div
								h3.popular-slide__title Trending Events for Developers and Designers in New York
								.st-post__block-info.block-info
									.block-info__left
										span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
										span.block-info__time-to-read #[i.far.fa-clock]5 mins read
									span.block-info__comments #[i.far.fa-comment-alt]5
						.slide-wrapper
							.popular-slide(style="background: url(../../img/marketing-2.jpg) 50% 50% no-repeat; background-size: cover;")
								a(href="#").link-post
								a.tag.tag--marketing(href="#") Marketing
								div
								h3.popular-slide__title Trending Events for Developers and Designers in New York
								.st-post__block-info.block-info
									.block-info__left
										span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
										span.block-info__time-to-read #[i.far.fa-clock]5 mins read
									span.block-info__comments #[i.far.fa-comment-alt]5

	