section.weekend
	.container
		.row
			.weekand__desc.col-6
				span.block__title Проведите активные выходные вместе с нами
				p На Сейме, имеется несколько мест отдыха горожан. В районе Киевского железнодорожного моста, в парке Солянка и далее по течению имеются несколько песчаных пляжей. Одно из самых старых мест отдыха – это парк Солянка. В середине 19 века, это было лучшее место для проведения досуга и отдыха. Прекрасная природа, наличие лодочной станции и своеобразные трактиры под открытым небом, привлекали сюда как богатых людей, так и публику со средним достатком.
			.weekand__photos.col-5.offset-1
				.weekand__photo--bottom
					img(src="img/weekand--bottom.jpg")
				.weekand__photo--top
					img(src="img/weekand--top.jpg")
section.video
	.video__block
		span.block__title.block__title--white Смотрите как мы отдыхаем
		iframe#ytplayer.video__youtube(type="text/html" width="730" height="410" src="https://www.youtube.com/embed/NAFTzX1nc60?autoplay=0&controls=0&showinfo=0&iv_load_policy=3&modestbranding=1&rel=0&enablejsapi=1" frameborder="0")
section.pastime
	.container
		span.block__title.block__title--cr Чем мы занимаемся
		.pastime__items
			.pastime__item.row
				article.pastime__item--left.col-6
					h3.pastime__title Сапсёрфинг
					p Сапсерфинг — это удивительный (и удивительно распространенный) спорт, в котором слились воедино «корневая» гавайская непосредственность и высокие технологии. Сам термин основывается на английской аббревиатуре SUP — Standup Paddle Boarding, то есть катание на доске стоя с веслом. Саму доску также принято называть SUP.
					a(href="#").btn__more Узнать подробнее
				.pastime__photo--right.col-5.offset-1
					img(src="img/pastime-1.jpg")
			article.pastime__item.row
				.pastime__photo--left.col-5
					img(src="img/pastime-2.jpg")
				.pastime__item--right.col-6.offset-1
					h3.pastime__title Вейкбординг
					p Вейкбординг - это экстремальный спорт, который весьма гармонично сочетает в себе скольжение по водной глади, акробатику и прыжки. Входит в число самых молодых водных видов спорта. Но за свою недолгую историю он сумел завоевать сердца многих любителей экстрима. Вейкбордисты едут по поверхности воды вслед за катером или вейк-лебедкой.
					a(href="#").btn__more Узнать подробнее
			article.pastime__item.row
				.pastime__item--left.col-6
					h3.pastime__title Водные лыжи
					p Водные лыжи – это спорт, где спортсмен буксируется моторной лодкой и удерживается на поверхности на одной или двух водных лыжах. Быстрый контакт между поверхностью воды и лыжами способствует гладкому скольжению, а практикующий этот вид спорта человек стоит прямо.
					a(href="#").btn__more Узнать подробнее
				.pastime__photo--right.col-5.offset-1
					img(src="img/pastime-3.jpg")
			.row
				article.pastime__relax.col-4
					.pastime__relax-photo
						img(src="img/pastime-4.jpg")
					h3.pastime__title.pastime__relax-title Русские бани
					p Наша исконная баня – это национальный феномен, так как одновременно является и постройкой для совершения гигиенических процедур, и исторической традицией, и лечебным средством от большинства болезней.
				article.pastime__relax.col-4
					.pastime__relax-photo
						img(src="img/pastime-5.jpg")
					h3.pastime__title.pastime__relax-title Беседки у воды
					p Беседка у воды или на воде привлекает многих, желающих комфортно отдохнуть над водной гладью, которая наполняет окружающее пространство звуками журчащих потоков. 
				article.pastime__relax.col-4
					.pastime__relax-photo
						img(src="img/pastime-6.jpg")
					h3.pastime__title.pastime__relax-title Плавающая платформа
					p Наша исконная баня – это национальный феномен, так как одновременно является и постройкой для совершения гигиенических процедур, и исторической традицией, и лечебным средством от большинства болезней.
	section.news
		.container
			.news__wrapper
				span.block__title Последние новости клуба
				a(href="#").news__link Все новости
			.news__items.row
				.col-6
					article.news__item.news__item--b
						img(src="img/news-1.jpg").news__picture
						.news__info
							.news__short-info
								span #[i.far.fa-user]Олег Крапивный
								span #[i.far.fa-calendar-alt]21 июня, 2018
								span #[i.far.fa-comment-alt]5
							h3.news__title Ещё одного завидного жениха Денис Аспидов провожаем в счастливое семейное плавание!
				.col-6
					article.news__item
						.news__info
							.news__short-info
								span #[i.far.fa-user]Олег Крапивный
								span #[i.far.fa-calendar-alt]21 июня, 2018
								span #[i.far.fa-comment-alt]5
							h3.news__title Ещё одного завидного жениха Денис Аспидов провожаем в счастливое семейное плавание!
					article.news__item
						.news__info
							.news__short-info
								span #[i.far.fa-user]Олег Крапивный
								span #[i.far.fa-calendar-alt]21 июня, 2018
								span #[i.far.fa-comment-alt]5
							h3.news__title Ещё одного завидного жениха Денис Аспидов провожаем в счастливое семейное плавание!
					article.news__item
						.news__info
							.news__short-info
								span #[i.far.fa-user]Олег Крапивный
								span #[i.far.fa-calendar-alt]21 июня, 2018
								span #[i.far.fa-comment-alt]5
							h3.news__title Ещё одного завидного жениха Денис Аспидов провожаем в счастливое семейное плавание!
					
					
			
			
			