footer.footer
	iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6996.670606461165!2d36.14952818217873!3d51.68369609303774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x412f1cabbe3b2849%3A0xd64be6c5e974bfe8!2sBoat+station!5e0!3m2!1sen!2sru!4v1563478560706!5m2!1sen!2sru" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen)
	.footer__contacts
		span.footer__contact #[i.fas.fa-map-marker-alt]Курск, ул. Энгельса, 156
		a(href="#").footer__contact #[i.fas.fa-phone]+7 (910) 731-18-11
		a(href="#").footer__contact #[i.fas.fa-phone]+7 (920) 702-40-42
	.footer__menu
		ul.footer__items
			li
				a(href="#").footer__link Сапсёрфинг
			li
				a(href="#").footer__link Вейкбординг
			li
				a(href="#").footer__link Водные лыжи
			li
				a(href="#").footer__link Байдарки
			li
				a(href="#").footer__link Беседки у реки
			li
				a(href="#").footer__link Плавающая платформа
	.footer__made-in
		span.footer__site Водно-спортивный клуб VODA46
		span.footer__studio Разработано в PizzazzStudio