header.header
	.header__wrapper
		a.navbar__logo(href="#")
			img(src="img/logo.png")
		.navbar
			.subheader
				.subheader__socials
					a(href="#").subheader__social #[i.fab.fa-vk]Вконтакте
					a(href="#").subheader__social #[i.fab.fa-instagram]Инстаграм
				.subheader__contacts
					span.subheader__address #[i.fas.fa-map-marker-alt]Курск, ул. Энгельса, 156
					a(href="#").subheader__contact #[i.fas.fa-phone]+7 (910) 731-18-11
			ul.navbar-nav
				li.navbar-item
					a(href="#") Сапсёрфинг
				li.navbar-item
					a(href="#") Вейкбординг
				li.navbar-item
					a(href="#") Водные лыжи
				li.navbar-item
					a(href="#") Байдарки
				li.navbar-item
					a(href="#") Беседки у реки
				li.navbar-item
					a(href="#") Плавающая платформа
.first
	h1.first__title Водно спортивный клуб VODA46
	span.first__desc Организация инфраструктуры и маршрутов для отдыха и водного туризма в акватории рек Сейм, Кривец, Тускарь. Популяризация водных видов спорта. 
	a(href="#").btn__more Узнать подробнее

		
				
					

					
			
		