footer.footer
	.container
		.row
			.col-lg-4
				.footer-contacts
					a(href="#").footer-contacts__title BLOM#[span.footer-contacts__title--blur V2].
					p Blom is a elegant and responsive WordPress theme that is ready and waiting to be transformed into your own personal blog or dynamic magazine site, fully customizable and responsive.
					p.footer-contacts__copyright © Copyright 2019 Powered by PizzazzStudio
			.col-lg-1
			.col-lg-2
				.footer-links
					h3.footer__title Useful Links
					a(href="#").footer__link Home
					a(href="#").footer__link Features
					a(href="#").footer__link About
					a(href="#").footer__link Contact
			.col-lg-2
				.footer-links
					h3.footer__title Categories
					a(href="#").footer__link.footer__category.footer__category--marketing Marketing
					a(href="#").footer__link.footer__category.footer__category--travel Travel
					a(href="#").footer__link.footer__category.footer__category--vogue Vogue
					a(href="#").footer__link.footer__category.footer__category--gadgets Gadgets
					a(href="#").footer__link.footer__category.footer__category--design Design
			.col-lg-3
				.footer-contacts
					h3.footer__title Follow us
					.footer__socials
						a(href="#").footer__social #[i.fab.fa-facebook-f]
						a(href="#").footer__social #[i.fab.fa-twitter]
						a(href="#").footer__social #[i.fab.fa-instagram]
						a(href="#").footer__social #[i.fab.fa-dribbble]	
						a(href="#").footer__social #[i.fab.fa-vk]
					button.subscribe__btn.subscribe__submit.footer__btn(type="submit") Subscribe#[i.fab.fa-telegram-plane]
.container
	form.footer__form
		input.footer__subscribe(type="email" placeholder="Enter your e-mail")
		button(type="submit").footer__submit Subscribe#[i.fab.fa-telegram-plane]
.overlay
	.overlay__close