section.contact.contact--i
	.contact__info.contact__info--i
		.contact__info-wrapper
			span.block__subtitle Lets Talk
			span.block__title We are open to communication
			p.block__text About id ornare arcu odio ut sem. Habitasse platea dictumst quisque sagittis purus sit amet volutpat consequat. In egestas erat imperdiet sed euismod.
			.row.contact__blocks
				.col-xl-6.contact__blocks-wrapper
					.contact__block
						span.contact__titles Moscow office
						p.contact__text Red Square., 1, Moscow, 109012
					.contact__block
						span.contact__titles Email address
						p.contact__text tivency@gmail.com
				.col-xl-6.contact__blocks-wrapper
					.contact__block
						span.contact__titles Phone number
						p.contact__text 8 (495) 692-40-19
					.contact__block
						span.contact__titles Social
						.contact__socials
							a(href="#").contact__social #[i.fab.fa-facebook-f]
							a(href="#").contact__social #[i.fab.fa-twitter]
							a(href="#").contact__social #[i.fab.fa-instagram]
							a(href="#").contact__social #[i.fab.fa-dribbble]
							a(href="#").contact__social #[i.fab.fa-vk]
	form.contact__form.contact__form--i
		.contact__form-wrapper
			label(for="name").contact__form-name Your Name #[br]
			input(type="text" id="name" placeholder="Alex").contact__form-field
			label(for="email").contact__form-name Your Email #[br]
			input(type="email" id="email" placeholder="Enter your email...").contact__form-field
			label(for="text").contact__form-name Your Name #[br]
			textarea(type="text" id="text" placeholder="Enter the message...").contact__form-field.contact__form-text
			button(type="submit").contact__form-submit.contact__form-submit--cntr Send Message