.container
	section.horizont
		h3.horizont__header Открываем горизонты
		p.horizont__desc Горизонты вашего бизнеса. Сопровождение грузов на всех этапах и их таможенное оформление.
		img(src="img/horizont-min.jpg")
	section.company.wow.fadeIn(data-wow-duration="3s")#company
		h2.company__header О компании ООО “Порт”
		.company__block
			p Построения логистических цепей с целью максимально возможного сокращения временных, трудовых и финансовых затрат. Специалисты организуют индивидуальный подход к каждому клиенту, чтобы полностью удовлетворить его потребности.
			p Мы работаем не только с крупными предприятиями, но и с представителями малого бизнеса. Прорабатывая различные логистические схемы и подбирая индивидуальные и эффективные варианты доставки, мы имеем возможность учитывать все пожелания наших клиентов
	