header.header.container
	a(href="#").header__logo Port46.ru - ООО “Порт”
	nav.header__navbar
		ul.navbar__nav#menu
			li.navbar__item
				a(href="#company").navbar__link О компании
			li.navbar__item
				a(href="#services").navbar__link Услуги
			li.navbar__item
				a(href="#supplies").navbar__link Поставки
			li.navbar__item
				a(href="#contacts").navbar__link Контакты
