.container
	section.services.wow.fadeIn(data-wow-duration="3s")#services
		h3.services__title Наши услуги:
		.services__wrapper
			.services__service.wow.fadeIn(data-wow-duration="3s")
				p.services__name Планирование
				p.services__desc Сегодня, развивающиеся организации стали все больше уделять внимания планированию и бюджетированию затрат. Они являются основными в процессе управления расходами предприятия.
			.services__service.wow.fadeIn(data-wow-duration="3s")
				p.services__name Стратегия
				p.services__desc Интегрированная модель действий, предназначенных для достижения целей основанных на: анализе и планировании, организации выполнения  планов.
			.services__service.wow.fadeIn(data-wow-duration="3s")
				p.services__name Результаты
				p.services__desc Всесторонние услуги в области логистики и ВЭД сегодня востребованы во многих бизнес-сферах. За консультациями и полноценным обслуживанием обращаются как крупные коммерческие фирмы, промышленные предприятия, так и индивидуальные предприниматели.
	section.supplies.wow.fadeIn(data-wow-duration="3s")#supplies
		img(src="img/supplies-min.jpg").supplies__image
		.supplies__wrapper
			h3.supplies__header Поставки
			.suppliues__block
				p ООО "Порт" является официальным партнёром компании Darimex-Treyding OOD, Болгария, крупнейшего поставщика оберточной бумаги для сувениров и подарков, бумажной ленты для обертки и упаковки, упаковочного картона, оберточной бумаги крепированной и импрегнированной (пропитанной).
				p Заключаем долгосрочные договора на поставку  табачного сырья, ацетатного жгута отведущих мировых производителей.
				p Мы предлагаем лучшие условия сотрудничества и выгодные цены.
	section.contacts.wow.fadeIn(data-wow-duration="3s")#contacts
		.contacts__left
			h3.contacts__header Контакты
			span.contacts__address 308017, Россия, г. Курск, ул. К. Заслонова, д.92, литер В5, оф.33
			form.contacts__form
				.contacts__wrapper
					input(type="text" placeholder="Ваше имя").form__name 
					input(type="email" placeholder="Ваш email").form__email 
				textarea(type="text" placeholder="Текст сообщения").form__message
				button(type="submit").form__btn Отправить
		.contacts__right
			iframe(src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d4259.513990971042!2d36.67406528349626!3d50.59511702198004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zMzA4MDE3LCDQoNC-0YHRgdC40Y8sINCzLiDQmtGD0YDRgdC6LCDRg9C7LiDQmi4g0JfQsNGB0LvQvtC90L7QstCwLCDQtC45Mg!5e0!3m2!1sru!2sru!4v1573122904785!5m2!1sru!2sru" width="540" height="480" frameborder="0" style="border:0;" allowfullscreen="")