doctype html
head
	title ООО "Порт"
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(charset="UTF-8")
	link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
	link(href="https://fonts.googleapis.com/css?family=Raleway:500,600,700&display=swap" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=Istok+Web:400,700&display=swap&subset=cyrillic" rel="stylesheet")
	link(rel="stylesheet" href="fonts/font-awesome/css/all.css")
	link(rel="stylesheet" href="css/animate.css")
	link(href="css/main.min.css" rel="stylesheet")
body
	div.parallax
		img.thumbnail(src="img/parallax.png" alt="моя картинка")
	include includes/header.pug
	include includes/blog.pug
	div.parallax__bottom
		img.thumbnail__bottom(src="img/parallax--bottom.png" alt="моя картинка")
	include includes/services.pug
	script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
	script(src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.0.2/dist/simpleParallax.min.js")
	script(src="js/wow.min.js" defer)
	script(src="js/main.js" defer)
	