header.subheader.container
	a(href="#").subheader__logo Port46.ru - ООО “Порт”
	a(href="#").subheader__address #[i.fas.fa-map-marker-alt]305025, Российская Федерация, г. Курск, ул. Магистральная, д.17, оф.48
	button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarMobile" aria-controls="navbarMobile" aria-expanded="false" aria-label="Toggle navigation")
		i.fas.fa-bars
	nav.collapse.navbar-collapse#navbarMobile
		ul.navbar__nav#menu-mobile
			li.navbar__item
				a(href="#company").navbar__link О компании
			li.navbar__item
				a(href="#services").navbar__link Услуги
			li.navbar__item
				a(href="#supplies").navbar__link Поставки
			li.navbar__item
				a(href="#contacts").navbar__link Контакты
	nav.header__navbar.header__navbar--tablet
		ul.navbar__nav#menu-mobile
			li.navbar__item
				a(href="#company").navbar__link О компании
			li.navbar__item
				a(href="#services").navbar__link Услуги
			li.navbar__item
				a(href="#supplies").navbar__link Поставки
			li.navbar__item
				a(href="#contacts").navbar__link Контакты
header.header.container
	nav.header__navbar
		ul.navbar__nav#menu
			li.navbar__item
				a(href="#company").navbar__link О компании
			li.navbar__item
				a(href="#services").navbar__link Услуги
			li.navbar__item
				a(href="#supplies").navbar__link Поставки
			li.navbar__item
				a(href="#contacts").navbar__link Контакты
	a(href="#").subheader__address.subheader__address--mobile #[i.fas.fa-map-marker-alt]305025, Российская Федерация, г. Курск, ул. Магистральная, д.17, оф.48
	span.header__phone #[i.fas.fa-phone]Звоните: #[a(href="tel:+74712311811") +7 (4712) 311-811], #[a(href="tel:+79107311811") +7 (910) 731-18-11]