.container
	section.services.wow.fadeIn(data-wow-duration="3s")#services
		h3.services__title Наши услуги: #[span логистика,  таможенное сопровождение,  оценка эффективности проектов]
		.services__wrapper
			.services__service.wow.fadeIn(data-wow-duration="3s")
				p.services__name Стратегия
				p.services__desc В настоящее время развивающиеся компании всё больше видят важность в контролируемом процессе управления расходами предприятия - в необходимости планирования и бюджетирования предстоящих затрат. Создание проекта сводного бюджетирования является отправной точкой любого коммерческого проекта.
			.services__service.wow.fadeIn(data-wow-duration="3s")
				p.services__name Планирование
				p.services__desc Услуги специалистов в области логистики и внешне-экономической деятельности востребованы во многих сферах бизнеса. За консультациями и партнёрской поддержкой обращаются как крупные компании и промышленные предприятия, так и субъекты малого бизнеса и индивидуальные предприниматели. Руководители компаний, чтобы сконцентрироваться на основных рабочих моментах, всё больше поручают управление товарно-транспортной логистикой аутсорсинговым организациям. Сотрудничество с такими организациями значительно экономит время руководителя, гарантирует выполнение бизнес-плана во времени, вот почему вам важно на ранних этапах становления ваших бизнес-процессов обратиться к профессиональным специалистам. В условиях нестабильной экономической ситуации особенно актуально привлекать логистов, которые помогут в установленные сроки решить вопросы, связанные с таможенным оформлением, доставкой грузов, сертифицированием продукции и другими возникающими вопросами.
			.services__service.wow.fadeIn(data-wow-duration="3s")
				p.services__name Результат
				p.services__desc Создаём и выполняем интегрированную модель действий, направленных на достижение целей бизнес-плана, основанных на анализе и планировании.
	section.supplies.wow.fadeIn(data-wow-duration="3s")#supplies
		img(src="img/supplies.jpg").supplies__image
		.supplies__wrapper
			h3.supplies__header Поставки
			.suppliues__block
				p ООО "Порт46" является официальным партнёром компании Darimex-Treyding OOD, Болгария, на сбытовой территории Российской Федерации. Darimex-Treyding - крупнейший поставщик оберточной бумаги для сувениров и подарков, бумажной ленты для обертки и упаковки, упаковочного картона, оберточной бумаги крепированной и импрегнированной (пропитанной).
				p Заключаем долгосрочные договора на поставку  табачного сырья, ацетатного жгута отведущих мировых производителей.
				p Мы предлагаем лучшие условия сотрудничества и оптимальные цены. Мы заинтересованы в стабильности бизнеса наших партнёров. Ваш успех – это наша стабильность.
	section.contacts.wow.fadeIn(data-wow-duration="3s")#contacts
		.contacts__left
			h3.contacts__header Контакты
			p.contacts__address 305025, Российская Федерация, г. Курск, ул. Магистральная, д.17, оф.48
			p.contacts__address #[b Звоните]: #[a(href="tel:+74712311811") +7 (4712) 311-811], #[a(href="tel:+79107311811") +7 (910) 731-18-11]
			p.contacts__address #[b Пишите]: port46.gendir@gmail.com, www.port46.ru
			form.contacts__form
				.contacts__wrapper
					input(type="text" placeholder="Ваше имя").form__name 
					input(type="email" placeholder="Ваш email").form__email 
				textarea(type="text" placeholder="Текст сообщения (укажите ваш телефон, если вам будет удобно, чтобы мы вам позвонили)").form__message
				button(type="submit").form__btn Отправить
		.contacts__right
			iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1202.7295043019658!2d36.121948178756945!3d51.64254476950002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x412f1b84a8de4c67%3A0x65cf276a0599ac4b!2z0YPQuy4g0JzQsNCz0LjRgdGC0YDQsNC70YzQvdCw0Y8sIDE3LCDQmtGD0YDRgdC6LCDQmtGD0YDRgdC60LDRjyDQvtCx0LsuLCAzMDUwMjU!5e0!3m2!1sru!2sru!4v1573906089013!5m2!1sru!2sru" width="540" height="480" frameborder="0" style="border:0;" allowfullscreen="").contacts__map
footer.footer.container
	span.footer__corp 2019 © ООО "Порт46"