section.about
	.container
		span.block__subtitle Lets meet with us
		span.block__title A full-service digital company
		p.about__text Dui id ornare arcu odio ut sem. Habitasse platea dictumst quisque sagittis purus sit amet volutpat consequat. In egestas erat imperdiet sed euismod.
		section.services
			.service
				img(src="img/icon__design.png").service__img
				h3.service__title Design
				p.service__text Dui id ornare arcu odio ut sem. Habitasse platea dictumst quisque sagittis purus sit am
			.service
				img(src="img/icon__development.png").service__img
				h3.service__title Development
				p.service__text Dui id ornare arcu odio ut sem. Habitasse platea dictumst quisque sagittis purus sit am.
			.service
				img(src="img/icon__launch.png").service__img
				h3.service__title Launch
				p.service__text Dui id ornare arcu odio ut sem. Habitasse platea dictumst quisque sagittis purus sit am.
			.service
				img(src="img/icon__marketing.png").service__img
				h3.service__title Marketing
				p.service__text Dui id ornare arcu odio ut sem. Habitasse platea dictumst quisque sagittis purus sit am.
	.count__wrappers
		.count__items
			.count__item
				span.count__item-number 40+
				span.count__item-text Team Members
			.count__item
				span.count__item-number 78
				span.count__item-text Finished Projects
			.count__item
				span.count__item-number 984+
				span.count__item-text Cups of Coffee
			.count__item
				span.count__item-number 69
				span.count__item-text Positive Rewievs		
section.portfolio
	.container
		.title__wrapper
			.portfolio__title
				span.block__subtitle Works we made
				span.block__title.block__title--white.mb-0 Our Portfolio
			a(href="#").portfolio__all View all
	.portfolio__wrapper
		.portfolio__items
			.portfolio__item-wrapper
				article.portfolio__item
					img(src="img/portfolio-1.jpg").portfolio__picture
					.portfolio__item-desc
						h3.portfolio__item-name Creative artwork Captun Com
						a(href="#").portfolio__item-link #[span.portfolio__item-arrow]
			.portfolio__item-wrapper
				article.portfolio__item
					img(src="img/portfolio-1.jpg").portfolio__picture
					.portfolio__item-desc
						h3.portfolio__item-name Creative artwork Captun Com
						a(href="#").portfolio__item-link #[span.portfolio__item-arrow]
			.portfolio__item-wrapper
				article.portfolio__item
					img(src="img/portfolio-1.jpg").portfolio__picture
					.portfolio__item-desc
						h3.portfolio__item-name Creative artwork Captun Com
						a(href="#").portfolio__item-link #[span.portfolio__item-arrow]
			.portfolio__item-wrapper
				article.portfolio__item
					img(src="img/portfolio-1.jpg").portfolio__picture
					.portfolio__item-desc
						h3.portfolio__item-name Creative artwork Captun Com
						a(href="#").portfolio__item-link #[span.portfolio__item-arrow]
			.portfolio__item-wrapper
				article.portfolio__item
					img(src="img/portfolio-1.jpg").portfolio__picture
					.portfolio__item-desc
						h3.portfolio__item-name Creative artwork Captun Com
						a(href="#").portfolio__item-link #[span.portfolio__item-arrow]
section.reviews
	.container
		span.block__subtitle.block--center Clients love us
		span.block__title.block--center.block__title--white What people says
		.review__slider
			.review
				.review__block
					p.review__text Semper viverra nam libero justo. Vel eros donec ac odio tempor orci dapibus. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus. Cras ornare arcu dui vivamus arcu. 
					.review__author
						.review__author-wrapper
							b.review__author-name Anastasiya Novikova 
							span.review__author-company Creative Group
						img(src="img/review-1.jpg").review__author-photo
			.review
				.review__block
					p.review__text Lorem fisaokfoakslk;jkg asjk jk;lsajkg;l jkas;g Lorem fisaokfoakslk;jkg asjk jk;lsajkg;l jkas;g Lorem fisaokfoakslk;jkg asjk jk;lsajkg;l jkas;g Lorem fisaokfoakslk;jkg asjk jk;lsajkg;l jkas;g
					.review__author
						.review__author-wrapper
							b.review__author-name Ludmila Galinovna 
							span.review__author-company Creative Group
						img(src="img/review-1.jpg").review__author-photo
section.team
	.team__desc
		.team__wrapper
			span.team__title Our team
			p.team__text About id ornare arcu odio ut sem. Habita platea dictumst quisque sagittis purus sit amet.
		.team__substrate
	.team__slider-wrapper
		.team__slider
			.team__slide-wrapper
				article.team__slide(style="background: url(img/team-1.jpg) 50% 50% no-repeat; background-size: cover;")
					.team__item-desc
						.team__item-socials
							a(href="#").team__item-social #[i.fab.fa-facebook-f]
							a(href="#").team__item-social #[i.fab.fa-twitter]
							a(href="#").team__item-social #[i.fab.fa-instagram]
						h3.team__item-name Anastasiya Novikova
						span.team__item-post Designer
			.team__slide-wrapper
				article.team__slide(style="background: url(img/team-2.jpg) 50% 50% no-repeat; background-size: cover;")
					.team__item-desc
						.team__item-socials
							a(href="#").team__item-social #[i.fab.fa-facebook-f]
							a(href="#").team__item-social #[i.fab.fa-twitter]
							a(href="#").team__item-social #[i.fab.fa-instagram]
						h3.team__item-name Elena Magnitogorskaya
						span.team__item-post Creative
			.team__slide-wrapper
				article.team__slide(style="background: url(img/team-3.jpg) 50% 50% no-repeat; background-size: cover;")
					.team__item-desc
						.team__item-socials
							a(href="#").team__item-social #[i.fab.fa-facebook-f]
							a(href="#").team__item-social #[i.fab.fa-twitter]
							a(href="#").team__item-social #[i.fab.fa-instagram]
						h3.team__item-name Lollita Dolina
						span.team__item-post Manager
			.team__slide-wrapper
				article.team__slide(style="background: url(img/team-3.jpg) 50% 50% no-repeat; background-size: cover;")
					.team__item-desc
						.team__item-socials
							a(href="#").team__item-social #[i.fab.fa-facebook-f]
							a(href="#").team__item-social #[i.fab.fa-twitter]
							a(href="#").team__item-social #[i.fab.fa-instagram]
						h3.team__item-name Lollita Dolina
						span.team__item-post Manager
	.team__background
section.plan
	.container
		span.block__subtitle.block--center.block--center--mobile pricing
		span.block__title.block--center.block--center--mobile.block__title--dark Choose Your Plan
		.plan__wrapper
			.packages
				.package
					span.package__title Basic
					p.package__price 49#[span.package__price--small $]#[span.package__price--small.package__price--gray /mo]
					ul.package__services
						li.package__service 1 Exclusive Projects
						li.package__service Unlimited Support
						li.package__service Marketing Kit
					a(href="#").package__buy Get Started
				.package
					span.package__title Standart
					p.package__price 99#[span.package__price--small $]#[span.package__price--small.package__price--gray /mo]
					ul.package__services
						li.package__service 5 Exclusive Projects
						li.package__service 10 Themes
						li.package__service Unlimited Support
						li.package__service Marketing Kit1
					a(href="#").package__buy Get Started
				.package
					span.package__title Business
					p.package__price 240#[span.package__price--small $]#[span.package__price--small.package__price--gray /mo]
					ul.package__services
						li.package__service 15 Exclusive Projects
						li.package__service 20 Themes
						li.package__service Unlimited Support
						li.package__service Marketing Kit
					a(href="#").package__buy Get Started
			.packages__desc
				h3.packages__title The best prices for you from 2014
				p.packages__text Tempus iaculis urna id volutpat lacus laoreet. Nunc scelerisque viverra mauris in aliquam. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus.
section.latest-news
	.container
		.title__wrapper
			.portfolio__title
				span.block__subtitle Check our blog
				span.block__title.block__title--white.mb-0 Latests News
			a(href="#").portfolio__all View all
		.news
			.news__item
				img(src="img/news-1.jpg" width="350" height="270").news__picture
				.news__wrapper
					h3.news__title AGENCY Works Only Under These Conditions
					p.news__info Creative #[span.news__info-date / October 25, 2018]
					a(href="#").news__more Read more
			.news__item
				img(src="img/news-2.jpg" width="350" height="270").news__picture
				.news__wrapper
					h3.news__title Quick and Easy Fix For Your AGENCY
					p.news__info Design #[span.news__info-date / October 25, 2018]
					a(href="#").news__more Read more
			.news__item
				img(src="img/news-3.jpg" width="350" height="270").news__picture
				.news__wrapper
					h3.news__title Now You Can Have Your AGENCY Done Safely
					p.news__info Marketing #[span.news__info-date / October 25, 2018]
					a(href="#").news__more Read more
section.contact
	.container.contact__wrapper
		.row
			.col-xl-6.col-12.contact__info
				h3.contact__title Contact Us
				.row.contact__blocks
					.col-xl-6.contact__blocks-wrapper
						.contact__block
							span.contact__titles Moscow office
							p.contact__text Red Square., 1, Moscow, 109012
						.contact__block
							span.contact__titles Email address
							p.contact__text tivency@gmail.com
					.col-xl-6.contact__blocks-wrapper
						.contact__block
							span.contact__titles Phone number
							p.contact__text 8 (495) 692-40-19
						.contact__block
							span.contact__titles Social
							.contact__socials
								a(href="#").contact__social #[i.fab.fa-facebook-f]
								a(href="#").contact__social #[i.fab.fa-twitter]
								a(href="#").contact__social #[i.fab.fa-instagram]
								a(href="#").contact__social #[i.fab.fa-dribbble]
								a(href="#").contact__social #[i.fab.fa-vk]
			form.contact__form.col-xl-6.col-12
				label(for="name").contact__form-name Your Name #[br]
				input(type="text" id="name" placeholder="Alex").contact__form-field
				label(for="email").contact__form-name Your Email #[br]
				input(type="email" id="email" placeholder="Enter your email...").contact__form-field
				label(for="text").contact__form-name Your Name #[br]
				textarea(type="text" id="text" placeholder="Enter the message...").contact__form-field.contact__form-text
				button(type="submit").contact__form-submit Send Message
				
				
			

			