footer.footer
	.container
		.footer__wrapper
			a(href="#").footer__logo #[img(src="img/logo.png")]
			nav
				ul.footer__links
					li #[a(href="#").footer__link Home]
					li #[a(href="#").footer__link About us]
					li #[a(href="#").footer__link Team]
					li #[a(href="#").footer__link Services]
					li #[a(href="#").footer__link Works]
		.footer__line
		.footer__wrapper.footer__wrapper--mobile
			span.footer__copyright 2018 © Gentium, All rights reserved.
			.footer__socials
				a(href="#").footer__social #[i.fab.fa-facebook-f]
				a(href="#").footer__social #[i.fab.fa-twitter]
				a(href="#").footer__social #[i.fab.fa-instagram]
				a(href="#").footer__social #[i.fab.fa-dribbble]
				a(href="#").footer__social #[i.fab.fa-vk]
			