section.about
	.container
		span.block__subtitle Lets meet with us
		span.block__title A full-service digital company
		p.about__text Dui id ornare arcu odio ut sem. Habitasse platea dictumst quisque sagittis purus sit amet volutpat consequat. In egestas erat imperdiet sed euismod.
		section.services
			.service
				img(src="img/icon__design.png").service__img
				h3.service__title Design
				p.service__text Dui id ornare arcu odio ut sem. Habitasse platea dictumst quisque sagittis purus sit am
			.service
				img(src="img/icon__development.png").service__img
				h3.service__title Development
				p.service__text Dui id ornare arcu odio ut sem. Habitasse platea dictumst quisque sagittis purus sit am.
			.service
				img(src="img/icon__launch.png").service__img
				h3.service__title Launch
				p.service__text Dui id ornare arcu odio ut sem. Habitasse platea dictumst quisque sagittis purus sit am.
			.service
				img(src="img/icon__marketing.png").service__img
				h3.service__title Marketing
				p.service__text Dui id ornare arcu odio ut sem. Habitasse platea dictumst quisque sagittis purus sit am.
	.count__wrappers
		.count__items
			.count__item
				span.count__item-number 40+
				span.count__item-text Team Members
			.count__item
				span.count__item-number 78
				span.count__item-text Finished Projects
			.count__item
				span.count__item-number 984+
				span.count__item-text Cups of Coffee
			.count__item
				span.count__item-number 69
				span.count__item-text Positive Rewievs		
section.portfolio
	.container
		.portfolio__wrapper
			.portfolio__title
				span.block__subtitle Works we made
				span.block__title.block__title--white Our Portfolio
			a(href="#").portfolio__all View all
	.portfolio__items
		.swiper-wrapper
			article.swiper-slide.portfolio__item(style="background: url(img/portfolio-1.jpg) 50% 50% no-repeat; background-size: cover;")
				.portfolio__item-desc
					h3.portfolio__item-name Creative artwork Captun Com
					a(href="#").portfolio__item-link
			article.swiper-slide.portfolio__item(style="background: url(img/portfolio-2.jpg) 50% 50% no-repeat; background-size: cover;")
				.portfolio__item-desc
					h3.portfolio__item-name Creative artwork Captun Com
					a(href="#").portfolio__item-link
			article.swiper-slide.portfolio__item(style="background: url(img/portfolio-3.jpg) 50% 50% no-repeat; background-size: cover;")
				.portfolio__item-desc
					h3.portfolio__item-name Creative artwork Captun Com
					a(href="#").portfolio__item-link
			article.swiper-slide.portfolio__item(style="background: url(img/portfolio-1.jpg) 50% 50% no-repeat; background-size: cover;")
				.portfolio__item-desc
					h3.portfolio__item-name Creative artwork Captun Com
					a(href="#").portfolio__item-link
			article.swiper-slide.portfolio__item(style="background: url(img/portfolio-2.jpg) 50% 50% no-repeat; background-size: cover;")
				.portfolio__item-desc
					h3.portfolio__item-name Creative artwork Captun Com
					a(href="#").portfolio__item-link
			article.swiper-slide.portfolio__item(style="background: url(img/portfolio-3.jpg) 50% 50% no-repeat; background-size: cover;")
				.portfolio__item-desc
					h3.portfolio__item-name Creative artwork Captun Com
					a(href="#").portfolio__item-link
			article.swiper-slide.portfolio__item(style="background: url(img/portfolio-1.jpg) 50% 50% no-repeat; background-size: cover;")
				.portfolio__item-desc
					h3.portfolio__item-name Creative artwork Captun Com
					a(href="#").portfolio__item-link
		.swiper-pagination
section.reviews
	.container
		span.block__subtitle.block__title--center Clients love us
		span.block__title.block__title--center.block__title--white What people says
	.review__slider
		.swiper-wrapper
			.swiper-slide
				.review
					.review__block
						p.review__text Semper viverra nam libero justo. Vel eros donec ac odio tempor orci dapibus. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus. Cras ornare arcu dui vivamus arcu. 
						.review__author
							.review__author-wrapper
								b.review__author-name Anastasiya Novikova 
								span.review__author-company Creative Group
							img(src="img/review-1.jpg").review__author-photo
						.swiper-button-next
						.swiper-button-prev
			.swiper-slide
				.review
					.review__block
						p.review__text Semper viverra nam libero justo. Vel eros donec ac odio tempor orci dapibus. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus. Cras ornare arcu dui vivamus arcu. 
						.review__author
							.review__author-wrapper
								b.review__author-name Anastasiya Novikova 
								span.review__author-company Creative Group
							img(src="img/review-1.jpg").review__author-photo
						.swiper-button-next
						.swiper-button-prev
section.team
	.team__desc
		span.team__title Our team
		p.team__text About id ornare arcu odio ut sem. Habita platea dictumst quisque sagittis purus sit amet.
	.team__slider
		.swiper-wrapper
			article.swiper-slide.team__slide(style="background: url(img/team-1.jpg) 50% 50% no-repeat; background-size: cover;")
				.team__item-desc
					.team__item-socials
						a(href="#").team__item-social #[i.fab.fa-facebook-f]
						a(href="#").team__item-social #[i.fab.fa-twitter]
						a(href="#").team__item-social #[i.fab.fa-instagram]
					h3.team__item-name Anastasiya Novikova
					span.team__item-post Designer
			article.swiper-slide.team__slide(style="background: url(img/team-2.jpg) 50% 50% no-repeat; background-size: cover;")
				.team__item-desc
					.team__item-socials
						a(href="#").team__item-social #[i.fab.fa-facebook-f]
						a(href="#").team__item-social #[i.fab.fa-twitter]
						a(href="#").team__item-social #[i.fab.fa-instagram]
					h3.team__item-name Elena Magnitogorskaya
					span.team__item-post Creative
			article.swiper-slide.team__slide(style="background: url(img/team-3.jpg) 50% 50% no-repeat; background-size: cover;")
				.team__item-desc
					.team__item-socials
						a(href="#").team__item-social #[i.fab.fa-facebook-f]
						a(href="#").team__item-social #[i.fab.fa-twitter]
						a(href="#").team__item-social #[i.fab.fa-instagram]
					h3.team__item-name Lollita Dolina
					span.team__item-post Manager
section.plan #[br] #[br]#[br]  #[br] #[br]#[br]  #[br] #[br]#[br] #[br] #[br]#[br] fd
	
			

			