header.header
	.container
		.row
			.col-xl-8.col-12
				nav.navbar
					a(href="#").navbar-brand #[img(src="img/logo.png")]
					a(href="#").header__btn-menu.btn-ham 
						span.btn-ham__line
						span.btn-ham__line
						span.btn-ham__line
				section.header__info
					h2.header__title We are creative Digital Agency
					p.header__text Arcu odio ut sem nulla pharetra diam. Malesuada fames ac turpis egestas integer eget. Cras fermentum odio eu.
					.header__btns
						a(href="#").header__btn.btn.header__contact-us Contact us#[i.fab.fa-telegram-plane]
						a(href="#").header__btn.btn.header__learn-more Learn more
	.header__image
		
