.post-image-wrapper.post-image-wrapper--bt.post-image-wrapper--center
	div.post-image__picture.post-image--gadgets(style="background: url(../../img/gadgets-3.jpg) 50% 50% no-repeat; background-size: cover")
	.container.post-image--center
		a.tag.tag--gadgets.tag--posts(href="#") Gadgets
		h2.post__title.post__title--mt Try These Methods to Avoid Conflicts in the Working Space
		.post__info.block-info
			.block-info__author.post__info-author
				img.author__photo.author__photo--sm(src="../../img/author-1.jpg")
				span.block-info__name John Doelimen
				span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018	