header.header
	.container
		nav.navbar.navbar--i
			a(href="#").navbar-brand #[img(src="../img/logo.png")]
			a(href="#").header__btn-menu.btn-ham 
				span.btn-ham__line
				span.btn-ham__line
				span.btn-ham__line
		h1.header__title--i Blog-Grid
		p.header__breadcrumbs
			a.header__breadcrumb(href="../index.html") Blog grid
			a.header__breadcrumb(href="#") About