.sub-footer
	a(href="#").sub-footer-category Marketing #[span.sub-footer__category-count.sub-footer__category--marketing 14]
	a(href="#").sub-footer-category Travel #[span.sub-footer__category-count.sub-footer__category--travel 28]
	a(href="#").sub-footer-category Vogue #[span.sub-footer__category-count.sub-footer__category--vogue 37]
	a(href="#").sub-footer-category Gadgets #[span.sub-footer__category-count.sub-footer__category--gadgets 5]
	a(href="#").sub-footer-category Design #[span.sub-footer__category-count.sub-footer__category--design 124]
footer.footer
	.container.footer--sm
		.footer-menu
			a(href="#").footer-contacts__title BLOM#[span.footer-contacts__title--blur V2].
			a(href="#").footer__link Home
			a(href="#").footer__link Features
			a(href="#").footer__link About
			a(href="#").footer__link Contact
		.footer__socials
			a(href="#").footer__social #[i.fab.fa-facebook-f]
			a(href="#").footer__social #[i.fab.fa-twitter]
			a(href="#").footer__social #[i.fab.fa-instagram]
			a(href="#").footer__social #[i.fab.fa-dribbble]	
			a(href="#").footer__social #[i.fab.fa-vk]
.container
	form.footer__form
		input.footer__subscribe(type="email" placeholder="Enter your e-mail")
		button(type="submit").footer__submit Subscribe#[i.fab.fa-telegram-plane]
.overlay
	.overlay__close