.footer-slider
	img.footer-slide(src="../../img/gadgets-3.jpg")
	img.footer-slide(src="../../img/gadgets-2.jpg")
	img.footer-slide(src="../../img/gadgets-1.jpg")
	img.footer-slide(src="../../img/gadgets-4.jpg")
	img.footer-slide(src="../../img/design-1.jpg")
	img.footer-slide(src="../../img/design-2.jpg")
	img.footer-slide(src="../../img/design-3.jpg")
	img.footer-slide(src="../../img/design-4.jpg")
	img.footer-slide(src="../../img/design-5.jpg")
	img.footer-slide(src="../../img/vogue-3.jpg")
	img.footer-slide(src="../../img/vogue-1.jpg")
	img.footer-slide(src="../../img/vogue-2.jpg")
	img.footer-slide(src="../../img/vogue-4.jpg")