.grid-slider.grid-slider-xl
	.grid-slide
		.categories__main-post.grid-slide__relevant.grid-slide__relevant--xl.post-image--gadgets
			a(href="#").link-post
			.categories__main-post__img(style="background: url(../../img/travel-2.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--marketing(href="#") Marketing
			h2.relevant__head-title Try These Methods to Avoid Conflicts in the Working Space
			.block-info.block-info--light
				.block-info__author
					img.author__photo.author__photo--sm(src="../../img/author-1.jpg")
					span.block-info__name John Doelimen
				span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
				span.block-info__comments #[i.far.fa-comment-alt]5
	.grid-slide
		.categories__main-post.grid-slide__relevant.grid-slide__relevant--xl.post-image--gadgets
			a(href="#").link-post
			.categories__main-post__img(style="background: url(../../img/travel-3.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--marketing(href="#") Marketing
			h2.relevant__head-title Try These Methods to Avoid Conflicts in the Working Space
			.block-info.block-info--light
				.block-info__author
					img.author__photo.author__photo--sm(src="../../img/author-1.jpg")
					span.block-info__name John Doelimen
				span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
				span.block-info__comments #[i.far.fa-comment-alt]5
	.grid-slide
		.categories__main-post.grid-slide__relevant.grid-slide__relevant--xl.post-image--gadgets
			a(href="#").link-post
			.categories__main-post__img(style="background: url(../../img/travel-4.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--marketing(href="#") Marketing
			h2.relevant__head-title Try These Methods to Avoid Conflicts in the Working Space
			.block-info.block-info--light
				.block-info__author
					img.author__photo.author__photo--sm(src="../../img/author-1.jpg")
					span.block-info__name John Doelimen
				span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
				span.block-info__comments #[i.far.fa-comment-alt]5
	.grid-slide
		.categories__main-post.grid-slide__relevant.grid-slide__relevant--xl.post-image--gadgets
			a(href="#").link-post
			.categories__main-post__img(style="background: url(../../img/travel-1.jpg) 50% 50% no-repeat; background-size: cover;")
			a.tag.tag--marketing(href="#") Marketing
			h2.relevant__head-title Try These Methods to Avoid Conflicts in the Working Space
			.block-info.block-info--light
				.block-info__author
					img.author__photo.author__photo--sm(src="../../img/author-1.jpg")
					span.block-info__name John Doelimen
				span.block-info__date #[i.fas.fa-calendar-alt]October 25, 2018
				span.block-info__comments #[i.far.fa-comment-alt]5